﻿body
{
    margin: 0px;
    min-width: 986px;
    max-width : 100%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.Sizer
{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
        
.Expander
{
    margin: 5px .5%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
    webkit-box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
}
#footer
{
    margin-left:.5%;
    margin-right:.5%;
    position: relative;
    text-align: left;
    margin-top: 5px; 
    margin-bottom: 2px; 
    font-size: 11px;
    color: #B2B2B2;
}
.header
{
    width: 100%;
    height: 32px;
    font-family: Segoe UI,Arial,Sans-Serif;
    font-size: 12px;
    text-decoration: none solid rbg(76 96 122);
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
    background: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
    background: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
    background: linear-gradient(#f6f6f6  , #f1f1f1  ); /* Standard syntax (must be last) */
    border-left: 1px solid #ededed;
}
#content
{
    min-height: 600px;
}
.Logo
{
    margin-right: 10px;
    float:right;
}
.jqueryslidemenu{
    float:left;
    margin-top : 7px;
}

.jqueryslidemenu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}  
/*Top level list items*/
.jqueryslidemenu ul li
{
    position: relative;
    display: inline;
    float: left;
}
/*Top level menu link items style*/
.jqueryslidemenu ul li a
{
    display: block;
    padding: 4px 10px;
    background-color: rgba(0, 0, 0, 0);
    color: #4c607a;
    text-decoration: none;
}
.jqueryslidemenu ul : last-child
{
    border-right:0;
}
.submenu
{
    display: block;
    padding: 4px 10px;
    background-color: #F6F4F4;
    color: #4c607a;
    text-decoration: none;  
    z-index:99999;
}

.jqueryslidemenu .submenu a:hover
{
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#c2cedb), to(##A9A9F5));
    background: -o-linear-gradient(top, #c2cedb, ##A9A9F5);
    background: -moz-linear-gradient(top, #c2cedb, ##A9A9F5);
    background: linear-gradient(#c2cedb  , ##A9A9F5  ); /* Standard syntax (must be last) */
    color:#4c607a;
}
* html .jqueryslidemenu ul li a
{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}
.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited
{
    color:#4c607a;
}
.jqueryslidemenu ul li a:hover
{
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#c2cedb), to(#d8e4f1));
    background: -o-linear-gradient(top, #c2cedb, #d8e4f1);
    background: -moz-linear-gradient(top, #c2cedb, #d8e4f1);
    background: linear-gradient(#c2cedb  , #d8e4f1  ); /* Standard syntax (must be last) */
    color:#4c607a;
}	
/*1st sub level menu*/
.jqueryslidemenu ul li ul
{
    position: absolute;
    left: 0;
    display: block;
    visibility: hidden;
    border-radius: 3px;
    border:1px solid #ededed;
}
/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li
{
    display: list-item;
    float: none;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul
{
    top: 0;
}
/* Sub level menu links style */
.jqueryslidemenu ul li ul li a
{
    width: 120px; /*width of sub menus*/
    padding: 5px;
    margin: 0px 0px 0px 2px;
    border-top-width: 0;
    border:0px;
}
.jqueryslidemenuz ul li ul li a:hover
{ /*sub menus hover style*/
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#c2cedb), to(#d8e4f1));
    background: -o-linear-gradient(top, #c2cedb, #d8e4f1);
    background: -moz-linear-gradient(top, #c2cedb, #d8e4f1);
    background: linear-gradient(#c2cedb  , #d8e4f1  ); /* Standard syntax (must be last) */
}
/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
}    
.rightarrowclass{
    position: absolute;
    top: 6px;
    right: 5px;
}
.waitModal {
display:    none;
position:   fixed;
z-index:    1000;
top:        0;
left:       0;
height:     100%;
width:      100%;
background: rgba( 255, 255, 255, .8 )
url('../css/images/icons/light/ajax-loader.gif') 
50% 50% 
no-repeat;  
}

.repeaterBox
{
    /*background: none repeat scroll 0 0 #FAFAFA;     border-radius: 3px 3px 3px 3px;     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);     margin-bottom: 16px;     border: 0 none;     font: inherit;     padding: 0;     vertical-align: baseline;     background-image: url("images/paper_02.png");*/ /*float:left;*/
    width: 100%;
    border: 1px solid;
    font: inherit;
    padding: 0;
    vertical-align: baseline;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    border-color: #dddddd #efefef #f1f1f1 #efefef;
    background-image: url(images/paper_02.png);
    margin-bottom: 15px;
    background-color: #f6f6f6;
    background-image: url(images/paper_02.png);
}

.repeaterLink
{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #AAAAAA;
    font-size: 9px;
    height: 22px;
    line-height: 22px; /*margin: -4px -4px -4px 0;*/
    display: inline-block;
    font-family: "Tahoma" ,sans-serif;
    font-weight: bold;
    padding: 0 14px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}


.repeaterBox:hover
{
    border-color: #cccccc;
}
.repeaterBox-header
{
    /*background-color: #F2F2F2;     background-image: -moz-linear-gradient(center top , #EBEBEB, #E5E5E5);     border-top: 1px solid #FAFAFA;     border-top-left-radius: 3px;     border-top-right-radius: 3px;     height: 40px;     font: inherit;     margin: 0;     padding: 0;     vertical-align: baseline;     background-image: url("images/paper_02.png");*/ /*float: left;*/
    width: 100%;
    color: #444444;
    text-shadow: 0 0 1px #ffffff;
    border-bottom: 1px solid;
    border-top-color: #ffffff;
    border-bottom-color: #aaaaaa;
    background: #f1f1f1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
    background: -moz-linear-gradient(top,  #f1f1f1,  #e8e8e8);
    background: -o-linear-gradient(top,  #f1f1f1,  #e8e8e8);
    position: relative; /*font-size:14px !important;*/ /*border-top:1px solid;*/
    padding: 0px 0px 0px 0px;
    margin: 0; /*line-height:3;*/
    height: 40px;
    margin-bottom: 1px;
    font-weight: bold; /*cursor:pointer;*/ /*13/9/2012 Not required*/
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}