﻿#formDiv
{
    margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:100;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
    
    }
    
    #formDiv#searchbox{
	float:right;
	margin:17px 10px 17px 0;
	padding:0;
	border:1px solid;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
}
#formDiv#searchform{
	width:90px;
	padding:0;
	border:0;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
}
#formDiv#searchform input#search{
	-webkit-appearance:none !important;
	padding:3px 0;
	font-size:14px;
	width:100%;
	text-align:center;
	border:0;
	border-top:1px solid;
	margin:0;
	font-style:normal;
}
#formDiv#searchform input#search.load{
	background-repeat:no-repeat !important;
	background-position:100% 50% !important;
}
#formDiv#searchform input::-webkit-search-decoration,
#formDiv#searchform input::-webkit-search-cancel-button,
#formDiv#searchform input::-webkit-search-results-button,
#formDiv#searchform input::-webkit-search-results-decoration {
  display:none;
}

 /* Live Search
 /*---------------------------------------------------------------------*/

#formDiv#searchform input#search:focus{
	border:0;
	padding:4px 0 3px;
}

#formDiv div.alert{
	margin:15px 4px;
}


#formDiv fieldset{
	padding:15px;
}
#formDiv pre{
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word; 
	padding:12px 15px;
	line-height:18px;
}
 #formDiv pre, code{
	font-size:11px;
	padding:1px 2px;
	border:1px solid;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
}
#formDiv pre code{
	display:block;
	border:0;
}

#formDiv input,textarea{
	width:99%;
	border:1px solid;
	padding:4px 2px;
	margin:0 1px;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
}
#formDiv input.g1,input.g2,input.g3,input.g4,input.g5,input.g6,input.g7,input.g8,input.g9,input.g10,input.g11,input.g12,
textarea.g1,textarea.g2,textarea.g3,textarea.g4,textarea.g5,textarea.g6,textarea.g7,textarea.g8,textarea.g9,textarea.g10,textarea.g11,textarea.g12 {
	margin-left:0;
	padding:6px 2px;
	min-height:auto;
}
#formDiv input.placeholder,textarea.placeholder{
	font-style:italic;
}
#formDiv input:focus,textarea:focus{
	outline:none;
}
#formDiv select optgroup, select option{
	font-style:normal;
	border:0;
}
#formDiv select option{
	border:1px solid;
	padding:3px;
}
#formDiv input[type=submit], input[type=checkbox], input[type=radio], input[type=button], button{
	/*width:auto !important; 21-8-2012 Mohan*/
	width:auto;
}

/*#formDiv input[type=submit]{
	min-height:33px;
    top: 2px;
    left: -445px;
}
*/
#formDiv{
	border:1px solid;
	padding:4px;
	margin-bottom:18px;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
}
#formDiv:last-child{
	margin-bottom:0;
}
.widget #formDiv{
	border:0;
}
#formDiv .wl_formstatus{
	padding-left:18px;
}
#formDiv fieldset{
	padding:0;
	margin:4px;
	border:1px solid;
	border-bottom:0;
	margin-top:18px;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
}
#formDiv fieldset:first-child{
	margin-top:4px;
}
#formDiv label{
	border-top:1px solid;
	display:block;
	font-size:16px;
	margin:0;
	padding:15px 10px;
	font-weight:700;
	-webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px;
}
#formDiv label span{
	font-size:12px;
}
#formDiv span.required{
	padding:0 4px;
	font-size:10px;
	background-repeat:no-repeat;
	background-position:left bottom;
}
#formDiv input, #formDiv textarea{
	padding:6px 2px;
	font-size:13px;
}
#formDiv fieldset > section{
	width:100%;
	border-top:1px solid;
	border-bottom:1px solid;
	float:left;
	padding:0;
	margin:0;
}
#formDiv fieldset > section:first-child{
	-webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px;
}
#formDiv fieldset > section:last-child{
	-webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; border-bottom-right-radius:4px;
}

#formDiv fieldset > section > div{
	padding:15px 1%;
	
	width: 82%;
	float:right;
	border-left:1px solid;
	height:100%;
	min-height:100%;
}

#formDiv fieldset > section > div > div{
	float:none;
	clear:both;
	/*width:auto; 17/8/2012*/
}
#formDiv fieldset > section > div div.date{
	max-width:230px;
}
#formDiv fieldset > section.error > label{
	text-shadow:none;
	font-weight:700;
}
#formDiv fieldset > section > div span{
	font-size:11px;
}
#formDiv fieldset > section.error{
	border-bottom:1px solid;
}
#formDiv fieldset > section.error > label{
	text-shadow:none;
	font-weight:700;
}
#formDiv fieldset > section label{
	border:0;
	cursor:pointer;
	font-size:13px;
	font-weight:100;
	float:left;
	background:none;
	filter:none;
	margin:0;
	width:13%;
	padding-left:2px;
	margin-left:8px;
	text-align:left;
}
#formDiv fieldset > section > div > div.selector{
}
#formDiv fieldset > section > div > div.selector span{
	height:32px;
}
#formDiv fieldset > section > div > div.selector select{
	height:32px;
	cursor:pointer;
}
#formDiv fieldset > section > div > div.checker, #formDiv fieldset > section > div > div.radio{
	display:inline-block;
	margin:0;
	line-height:1;
	float:none;
}
#formDiv fieldset > section > div > div.checker span, #formDiv fieldset > section > div > div.radio span{
	display:inline-block;
	height:22px;
	width:22px;
	float:none;
}
#formDiv fieldset > section > div > div.checker span input, #formDiv fieldset > section > div > div.radio span input{
	display:inline;
	width:22px;
	height:22px;
	min-width:22px;
	min-height:22px;
	margin:0;
	padding:0;
	cursor:pointer;
}
/*#formDiv fieldset > section > div label{
	position:relative;
	width:auto;
	margin:0;
	padding:0;
	display:inline-block;
	float:none;
	top:-5px;
	font-size:11px;
	line-height:1.5;
	-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;
}*/
#formDiv fieldset > section > div label{
	position:relative;
    width: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: none;
    font-size: 11px;
    line-height: 1.5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top:2px;
}


#formDiv fieldset > section label span{
	font-size:10px;
}
#formDiv div input{
}

body#login #formDiv label{
	padding:0;
	margin:0;
	width:100%;
}
body#login #formDiv section{
	width:100%;
}
body#login #formDiv section div{
	width:90%;
	float:none;
	padding:0 4% 6px 4%;
	border:0;
}
body#login #formDiv section > div{
	/*width:90% !important; changed on 27/8/2012*/
	width:90%;
}
body#login #formDiv section div input{
	width:100% ;
}
body#login #formDiv section div input#remember{
	width:auto !important;
}
body#login #formDiv section div.checker{
	width:auto !important;
	padding:0;
	margin:0;
}
body#login #formDiv section label
{
    /*width:90% !important; changed on 14-8-2012*/
	padding:3% 2% 1%;
	/*width:90% ; changed on 27/8/2012*/
	width:auto ;
	/*float:none; changed on 27/8/2012*/
	float:left;
}
body#login #formDiv section label.checkbox div
{
    
	width:10px;
	padding:0;
	margin:0;
}
body#login #formDiv section div label{
	/*width:80% !important; changed on 14-8-2012*/
	width:80%;
}
body#login #formDiv section a
{
    /*float:right;; changed on 14-8-2012*/
	float:left;
	/* this was added 14-8-2012*/
	margin-left:7px;
	margin-top:2px;
}
.BasicDetailHead
{
padding:0px 5px 0px 5px; font-weight:bold;
}
.BasicDetail
{
padding:0px 5px 0px 5px;
}


#formDiv table
{
    background: none;
    border: none;
    width: auto;
}

#formDiv table td, table th
{
    border: none;
    padding: 6px 3px;
    text-align: left;
}

body#login #formDiv  section>div.rememberParticularField
{
    float:right;
    margin:0 11px 0 0;
    width:auto;
    height:auto;
    padding:0px;
    position:relative;
    top:5px;
    }



/*@media screen and (max-width:900px) and (min-width:701px) {
	#formDiv fieldset > section > div{
		width:69%;
	}
	#formDiv fieldset > section label{
		width:24%;
	}
}*/



.formDivCls
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 100;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

.formDivCls#searchbox
{
    float: right;
    margin: 17px 10px 17px 0;
    padding: 0;
    border: 1px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.formDivCls#searchform
{
    width: 90px;
    padding: 0;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.formDivCls#searchform input#search
{
    -webkit-appearance: none !important;
    padding: 3px 0;
    font-size: 14px;
    width: 100%;
    text-align: center;
    border: 0;
    border-top: 1px solid;
    margin: 0;
    font-style: normal;
}
.formDivCls#searchform input#search.load
{
    background-repeat: no-repeat !important;
    background-position: 100% 50% !important;
}
.formDivCls#searchform input::-webkit-search-decoration, .formDivCls#searchform input::-webkit-search-cancel-button, .formDivCls#searchform input::-webkit-search-results-button, .formDivCls#searchform input::-webkit-search-results-decoration
{
    display: none;
}

/* Live Search
 /*---------------------------------------------------------------------*/

.formDivCls#searchform input#search:focus
{
    border: 0;
    padding: 4px 0 3px;
}

.formDivCls div.alert
{
    margin: 15px 4px;
}


.formDivCls fieldset
{
    padding: 15px;
}
.formDivCls pre
{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 12px 15px;
    line-height: 18px;
}
.formDivCls pre, code
{
    font-size: 11px;
    padding: 1px 2px;
    border: 1px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.formDivCls pre code
{
    display: block;
    border: 0;
}

.formDivCls input, textarea
{
    width: 99%;
    border: 1px solid;
    padding: 4px 2px;
    margin: 0 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.formDivCls input.g1, input.g2, input.g3, input.g4, input.g5, input.g6, input.g7, input.g8, input.g9, input.g10, input.g11, input.g12, textarea.g1, textarea.g2, textarea.g3, textarea.g4, textarea.g5, textarea.g6, textarea.g7, textarea.g8, textarea.g9, textarea.g10, textarea.g11, textarea.g12
{
    margin-left: 0;
    padding: 6px 2px;
    min-height: auto;
}
.formDivCls input.placeholder, textarea.placeholder
{
    font-style: italic;
}
.formDivCls input:focus, textarea:focus
{
    outline: none;
}
.formDivCls select optgroup, select option
{
    font-style: normal;
    border: 0;
}
.formDivCls select option
{
    border: 1px solid;
    padding: 3px;
}
.formDivCls input[type=submit], input[type=checkbox], input[type=radio], input[type=button], button
{
    width: auto !important;
}

/*.formDivCls input[type=submit]{
	min-height:33px;
    top: 2px;
    left: -445px;
}
*/
.formDivCls
{
    border: 1px solid;
    padding: 4px;
    margin-bottom: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.formDivCls:last-child
{
    margin-bottom: 0;
}
.widget .formDivCls
{
    border: 0;
}
.formDivCls .wl_formstatus
{
    padding-left: 18px;
}
.formDivCls fieldset
{
    padding: 0;
    margin: 4px;
    border: 1px solid;
    border-bottom: 0;
    margin-top: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.formDivCls fieldset:first-child
{
    margin-top: 4px;
}
.formDivCls label
{
    border-top: 1px solid;
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 15px 10px;
    font-weight: 700;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
.formDivCls label span
{
    font-size: 12px;
}
.formDivCls span.required
{
    padding: 0 4px;
    font-size: 10px;
    background-repeat: no-repeat;
    background-position: left bottom;
    /*17/10/2012*/
    position:relative;
    top:-4px;
}
.formDivCls input, .formDivCls textarea
{
    padding: 6px 2px;
    font-size: 13px;
}
.formDivCls fieldset > section
{
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    float: left;
    padding: 0;
    margin: 0;
}
.formDivCls fieldset > section:first-child
{
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
.formDivCls fieldset > section:last-child
{
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.formDivCls fieldset > section > div
{
    /*padding: 15px 1%;*/
    padding:10px 1%;/*17/10/2012*/
    width: 78%;
    float: right;
    border-left: 1px solid;
    height: 100%;
    min-height: 100%;
}
.formDivCls fieldset > section > div.containingLabel
{
    padding: 15px 1%;
}
.formDivCls fieldset > section > div > div
{
    float: none;
    clear: both;
    width: auto;
}
.formDivCls fieldset > section > div div.date
{
    max-width: 230px;
}
.formDivCls fieldset > section.error > label
{
    text-shadow: none;
    font-weight: 700;
}
.formDivCls fieldset > section > div span
{
    font-size: 11px;
}
.formDivCls fieldset > section.error
{
    border-bottom: 1px solid;
}
.formDivCls fieldset > section.error > label
{
    text-shadow: none;
    font-weight: 700;
}
.formDivCls fieldset > section label
{
    border: 0;
    cursor: pointer;
    font-size: 13px;
    font-weight: 100;
    float: left;
    background: none;
    filter: none;
    margin: 0;
    width: 16%;
    padding-left: 2px;
    margin-left: 8px;
    text-align: left;
}
.formDivCls fieldset > section > div > div.selector
{
}
.formDivCls fieldset > section > div > div.selector span
{
    height: 32px;
}
.formDivCls fieldset > section > div > div.selector select
{
    height: 32px;
    cursor: pointer;
}
.formDivCls fieldset > section > div > div.checker, .formDivCls fieldset > section > div > div.radio
{
    display: inline-block;
    margin: 0;
    line-height: 1;
    float: none;
}
.formDivCls fieldset > section > div > div.checker span, .formDivCls fieldset > section > div > div.radio span
{
    display: inline-block;
    height: 22px;
    width: 22px;
    float: none;
}
.formDivCls fieldset > section > div > div.checker span input, .formDivCls fieldset > section > div > div.radio span input
{
    display: inline;
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
/*.formDivCls fieldset > section > div label{
	position:relative;
	width:auto;
	margin:0;
	padding:0;
	display:inline-block;
	float:none;
	top:-5px;
	font-size:11px;
	line-height:1.5;
	-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;
}*/
.formDivCls fieldset > section > div label
{
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: none;
    font-size: 11px;
    line-height: 1.5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; /*top: 2px;*/
}


.formDivCls fieldset > section label span
{
    font-size: 10px;
}
.formDivCls div input
{
}

body#login .formDivCls label
{
    padding: 0;
    margin: 0;
    width: 100%;
}
body#login .formDivCls section
{
    width: 100%;
}
body#login .formDivCls section div
{
    width: 90%;
    float: none;
    padding: 0 4% 6px 4%;
    border: 0;
}
body#login .formDivCls section > div
{
    /* width: 90% !important; 27/8/2012*/
    width: 90%;
}
body#login .formDivCls section div input
{
    width: 100%;
}
body#login .formDivCls section div input#remember
{
    width: auto !important;
}
body#login .formDivCls section div.checker
{
    width: auto !important;
    padding: 0;
    margin: 0;
}
body#login .formDivCls section label
{
    padding: 3% 2% 1%; /*width: 90% !important; 27/8/2012*/
    width: 90%; /*float: none; 27/8/2012*/
    float: left;
}
body#login .formDivCls section label.checkbox div
{
    width: 10px;
    padding: 0;
    margin: 0;
}
body#login .formDivCls section div label
{
    width: 80% !important;
}
body#login .formDivCls section a
{
    float: right;
}
.formDivCls table
{
    background: none;
    border: none;
    width: auto;
}

.formDivCls table td, table th
{
    border: none;
    padding: 6px 3px;
    text-align: left;
}





/*@media screen and (max-width:900px) and (min-width:701px)
{
    .formDivCls fieldset > section > div
    {
        width: 69%;
    }
    .formDivCls fieldset > section label
    {
        width: 24%;
    }
}*/
