/*----------------------------------------------------------------------*/
/* bg/01.png http://ptrn.it/iglrOa
/* bg/02.png http://ptrn.it/ldfM3q
/* bg/03.png http://ptrn.it/jJseqP
/* bg/04.png http://ptrn.it/mkP0FP
/* bg/05.png http://ptrn.it/mntuwU
/* bg/06.png http://ptrn.it/kj7OMC
/* bg/07.png http://ptrn.it/l9Ehl8
/* bg/08.png http://ptrn.it/lOwe5N
/* bg/09.png http://ptrn.it/muLiXq
/* bg/10.png http://ptrn.it/mjwbxK
/* bg/11.png http://ptrn.it/kq6NGq
/* bg/12.png http://ptrn.it/ilzOva
/* bg/13.png http://ptrn.it/jNcpdS
/* bg/14.png http://ptrn.it/iVpjzW
/*----------------------------------------------------------------------*/
.bg01 {
background-image:url(images/bg/01.png);
}

.bg02 {
background-image:url(images/bg/02.png);
}

.bg03 {
background-image:url(images/bg/03.png);
}

.bg04 {
background-image:url(images/bg/04.png);
}

.bg05 {
background-image:url(images/bg/05.png);
}

.bg06 {
background-image:url(images/bg/06.png);
}

.bg07 {
background-image:url(images/bg/07.png);
}

.bg08 {
background-image:url(images/bg/08.png);
}

.bg09 {
background-image:url(images/bg/09.png);
}

.bg10 {
background-image:url(images/bg/10.png);
}

.bg11 {
background-image:url(images/bg/11.png);
}

.bg12 {
background-image:url(images/bg/12.png);
}

.bg13 {
background-image:url(images/bg/13.png);
}

.bg14 {
background-image:url(images/bg/14.png);
}

/*----------------------------------------------------------------------*/
/* Reset
/*----------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,input,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
margin:0;
padding:0;
border:0;
outline:0;
font-weight:100;
font-style:inherit;
font-size:100%;
font-family:inherit;
vertical-align:baseline;
}

* {
-webkit-text-size-adjust:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}

/*----------------------------------------------------------------------*/
/* Font Declaration
/*----------------------------------------------------------------------*/
html,textarea,input,input[type=submit],button,a.btn,span,div.alert p,header {
/*font-family:'PT Sans', sans-serif;*/
font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Tahoma, Arial, Helvetica, sans-serif;
}

code,pre {
/*font-family:"Courier New", Courier, monospace;*/
font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Tahoma, Arial, Helvetica, sans-serif;
}

blockquote {
/*font-family:Georgia, "Times New Roman", Times, serif;*/
font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Tahoma, Arial, Helvetica, sans-serif;
}

/*----------------------------------------------------------------------*/
/* General Section
/*----------------------------------------------------------------------*/
html,body,textarea,input {
font-size:12px;
-webkit-text-size-adjust:none;
}

html {
background-attachment:fixed;
overflow-y:scroll;
}

a {
text-decoration:none;
cursor:pointer;
}

/*a:hover { text-decoration:underline; } changed on 21/8/2012 Mohan*/
a:hover {
text-decoration:none;
}

a,a:hover,a:visited,a:link {
color:#000;
}

::-moz-selection {
text-shadow:none;
}

::selection {
text-shadow:none;
}

header,footer,nav,section {
display:block;
}

h1,h2,h3,h4,h5,h6 {
font-weight:200;
}

h1 {
font-size:18px;
line-height:32px;
margin-top:22px;
}

h2 {
font-size:24px;
line-height:26px;
}

h3 {
font-size:20px;
line-height:24px;
}

h4 {
font-size:18px;
line-height:22px;
}

h5 {
font-size:16px;
line-height:22px;
}

h6 {
font-size:14px;
line-height:20px;
font-weight:bold;
}

h1 span {
font-size:14px;
line-height:14px;
}

h2 span {
font-size:12px;
line-height:12px;
}

h3 span {
font-size:10px;
line-height:10px;
}

p,ul,ol,pre {
margin-bottom:18px;
line-height:18px;
font-size:12px;
}

blockquote {
font-size:16px;
font-style:italic;
border-left:5px solid;
padding:0 18px;
margin:36px;
}

li {
margin-left:18px;
}

hr {
display:block;
height:0;
line-height:0;
border:0;
border-top:1px solid;
border-bottom:1px solid;
margin:16px 0;
float:none;
clear:both;
padding:0;
}

strong {
font-weight:700;
}

em {
font-style:italic;
}

img {
border:0;
}

.small {
font-size:10px;
}

.SubProcborderDiv {
margin-top:3px;
width:100%;
float:left;
clear:both;
border-top:solid 1px #e0e0e0;
}

.SubProcBtnDiv {
float:left;
margin-top:10px;
width:100%;
/*margin-left: 40%;*/
}

/*----------------------------------------------------------------------*/
/* Pageoptions
/*----------------------------------------------------------------------*/
#pageoptions {
position:relative;
overflow:hidden;
width:auto;
padding:0;
min-height:10px;
}

#pageoptions h1,#pageoptions h2,#pageoptions h3,#pageoptions h4,#pageoptions h5,#pageoptions h6 {
}

#pageoptions ul {
overflow:hidden;
margin:0;
padding:1px 6px;
}

#pageoptions ul li {
float:right;
list-style:none;
padding:0;
margin:0;
margin-left:1px;
}

#pageoptions ul li a {
text-decoration:none;
padding:0 8px 6px;
-webkit-border-top-left-radius:4px;
-moz-border-radius-topleft:4px;
border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topright:4px;
border-top-right-radius:4px;
}

#pageoptions ul li a:hover,#pageoptions ul li a.active {
}

#pageoptions > div {
position:absolute;
left:15px;
right:15px;
padding:15px;
overflow:hidden;
min-height:400px;
-webkit-border-top-left-radius:4px;
-moz-border-radius-topleft:4px;
border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topright:4px;
border-top-right-radius:4px;
}

#pageoptions div li {
float:none;
}

/*----------------------------------------------------------------------*/
/* Tables
/*----------------------------------------------------------------------*/
table {
width:100%;
border-collapse:collapse;
margin-bottom:18px;
}

table td,table th {
border:1px solid;
padding:6px 3px;
text-align:center;
}

table th {
font-weight:bold;
font-size:12px;
}

div.chart .legend table {
border:0;
width:auto;
}

div.chart {
max-width:100%;
margin-bottom:18px;
}

div.chart .legend table td {
vertical-align:middle;
text-align:center;
}

div.chart .legend table td.legendColorBox {
opacity:0.6;
filter:Alpha(opacity=60);
}

table.documentation {
}

table.documentation th,table.documentation td {
text-align:left;
}

.label {
/*display:list-item;*/
width:10px;
}
.labelFieldset
{
    width:auto;    
}
.textbox {
width:80px;
margin-left:25px;
}

.textboxright {
width:80px;
margin-left:100px;
}

/*----------------------------------------------------------------------*/
/* Header
/*----------------------------------------------------------------------*/
/*not loginLogo added on 6/10/2012*/
header:not(#loginLogo) {
position:relative;
border-top:1px solid;
z-index:10;
-webkit-border-top-left-radius:4px;
-moz-border-radius-topleft:4px;
border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topright:4px;
border-top-right-radius:4px;
}

/*loginLogo added on 6/10/2012*/
header#loginLogo {
position:relative;
z-index:10;
-webkit-border-top-left-radius:4px;
-moz-border-radius-topleft:4px;
border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topright:4px;
border-top-right-radius:4px;
top:-20px;
}

#logo {
height:24px;
/*padding:21px 0 17px 15px;*/
padding:26px 0 17px 15px;
width:224px;
border:0;
-webkit-border-top-left-radius:4px;
-moz-border-radius-topleft:4px;
border-top-left-radius:4px;
background:url(../images/mFicientLogo150x75.png) left center no-repeat;
}

/*loginLogo added on 6/10/2012*/
header#loginLogo #logo /*6/10/2012*/ {
height:24px;
/*padding:21px 0 17px 15px;*/
padding:26px 0 17px 15px;
width:332px;
border:0;
-webkit-border-top-left-radius:4px;
-moz-border-radius-topleft:4px;
border-top-left-radius:4px;
background:url(../images/mFicientLogo150x75.png) center center no-repeat;
}

#logo,#logo a {
font-weight:700;
font-size:20px;
text-decoration:none;
text-indent:-99999px;
}

#logo a {
}

#header {
height:60px;
position:absolute;
top:0;
left:240px;
right:0;
border:0;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topright:4px;
border-top-right-radius:4px;
}

/*#header ul{
width:75%;
height:46px;
float:right;
margin:0;
}
#header ul li{
list-style:none;
margin:0;
}*/
#header div {
float:right;
font-size:20px;
padding:5px 12px;
}

#header div ul {
overflow:hidden;
margin:0;
padding:1px 0;
}

#header div ul li {
float:right;
list-style:none;
padding:0;
margin:0;
/*margin-left:1px;*/
/*5/10/2012*/
}

#header div ul li a {
text-decoration:none;
/*padding:0px 8px 6px 8px;*/
/*5/10/2012*/
padding:0 0 6px 3px;
-webkit-border-top-left-radius:4px;
-moz-border-radius-topleft:4px;
border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topright:4px;
border-top-right-radius:4px;
}

#header div ul li a:hover,#header div ul li a.active {
}

#header ul li ul {
width:100%;
height:auto;
float:none;
padding:18px 0;
margin:0;
}

#header ul li ul li {
border:1px solid;
position:relative;
float:left;
margin:0 10px 0 0;
display:block;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

#header ul li ul li a {
padding:2px 20px 4px;
font-size:14px;
display:block;
border-top:1px solid;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

#header ul li ul li a:hover {
text-decoration:none;
}

#header ul li ul li a:active,#header ul li ul li a.active {
border:0;
padding:4px 20px 3px;
}

#header ul li ul li:active,#header ul li ul li.active {
}

#header ul li ul li ul {
display:none;
padding:0;
-webkit-border-bottom-left-radius:4px;
-moz-border-radius-bottomleft:4px;
border-bottom-left-radius:4px;
-webkit-border-bottom-right-radius:4px;
-moz-border-radius-bottomright:4px;
border-bottom-right-radius:4px;
}

#header ul li ul li ul.shown {
display:block;
}

#header ul li ul li ul li {
margin:0;
max-width:180px;
border-left:0;
border-right:0;
border:0;
border-top:1px solid;
float:none;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
}

#header ul li ul li ul li a {
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
}

#header ul li ul li ul li:last-child,#header ul li ul li ul li:last-child a {
-webkit-border-bottom-left-radius:4px;
-moz-border-radius-bottomleft:4px;
border-bottom-left-radius:4px;
-webkit-border-bottom-right-radius:4px;
-moz-border-radius-bottomright:4px;
border-bottom-right-radius:4px;
}

#header ul li ul li span {
font-family:sans-serif;
display:block;
position:absolute;
right:-12px;
top:-12px;
font-size:10px;
line-height:10px;
font-weight:700;
padding:4px 4px 5px;
text-align:center;
min-width:10px;
z-index:100;
border:1px solid;
cursor:pointer;
-webkit-border-radius:36px;
-moz-border-radius:36px;
border-radius:36px;
}

form#searchbox {
float:right;
margin:17px 10px 17px 0;
padding:0;
border:1px solid;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

form#searchform {
width:90px;
padding:0;
border:0;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

form#searchform input#search {
-webkit-appearance:none;
padding:3px 0;
font-size:14px;
width:100%;
text-align:center;
border:0;
border-top:1px solid;
margin:0;
font-style:normal;
}

form#searchform input#search.load {
background-repeat:no-repeat;
background-position:100% 50%;
}

form#searchform input::-webkit-search-decoration,form#searchform input::-webkit-search-cancel-button,form#searchform input::-webkit-search-results-button,form#searchform input::-webkit-search-results-decoration {
display:none;
}

/* Live Search
/*---------------------------------------------------------------------*/
form#searchform input#search:focus {
border:0;
padding:4px 0 3px;
}

ul#searchboxresult {
margin:0;
position:absolute;
overflow:hidden;
height:auto;
right:10px;
top:50px;
width:250px;
border-top:1px solid;
margin:0;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
display:none;
z-index:250;
}

ul#searchboxresult li {
}

ul#searchboxresult li a {
padding:8px;
font-size:12px;
display:block;
border:1px solid;
border-left:0;
border-right:0;
background-repeat:no-repeat;
background-position:12px 10px;
display:block;
overflow:hidden;
height:50px;
line-height:17px;
}

ul#searchboxresult li a:hover {
text-decoration:none;
}

ul#searchboxresult li a.noresult {
padding:12px;
height:auto;
text-align:center;
font-size:14px;
}

ul#searchboxresult li a img {
float:left;
margin-right:6px;
}

/*----------------------------------------------------------------------*/
/* Navigation
/*----------------------------------------------------------------------*/
nav {
border-right:0 solid;
border-left:1px solid;
-webkit-border-bottom-right-radius:4px;
-moz-border-radius-bottomright:4px;
border-bottom-right-radius:4px;
}

nav ul {
border-top:1px solid;
margin:0;
-webkit-border-bottom-left-radius:4px;
-moz-border-radius-bottomleft:4px;
border-bottom-left-radius:4px;
-webkit-border-bottom-right-radius:4px;
-moz-border-radius-bottomright:4px;
border-bottom-right-radius:4px;
}

nav ul li {
list-style:none;
padding:0;
margin:0;
background-repeat:no-repeat;
background-position:-9999px;
}

nav ul li a {
display:block;
padding-right:0;
}

nav ul li a span {
padding:12px 40px 11px;
font-size:14px;
display:block;
border:1px solid;
border-left:0;
border-right:0;
background-repeat:no-repeat;
background-position:12px 10px;
white-space:nowrap;
}

nav ul li a:hover {
text-decoration:none;
cursor:pointer;
padding-right:0;
}

nav ul li a:active,nav ul li a.active {
padding-right:0;
padding-bottom:0;
background-repeat:repeat-x;
background-position:left center;
filter:none;
}

nav ul li a:active span,nav ul li a.active span {
border-bottom:0;
padding:12px 40px;
}

nav ul li ul {
border:0;
margin-right:10px;
margin-left:10px;
display:none;
margin-bottom:10px;
}

nav ul li ul li:first-child a {
}

nav ul li ul li:last-child,nav ul li ul li:last-child a,nav ul li ul li:last-child a span {
-webkit-border-bottom-left-radius:4px;
-moz-border-radius-bottomleft:4px;
border-bottom-left-radius:4px;
-webkit-border-bottom-right-radius:4px;
-moz-border-radius-bottomright:4px;
border-bottom-right-radius:4px;
}

nav ul li ul li {
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
}

nav ul li ul li a {
padding-right:0;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
}

nav ul li ul li a span {
border:0;
font-size:12px;
line-height:12px;
border-top:1px solid #ddd;
padding-top:6px;
padding-bottom:6px;
padding-left:15px;
background-position:-9999px;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
}

nav ul li ul li:first-child a span {
}

nav ul li ul li a:active,nav ul li ul li a.active {
}

nav ul li ul li a:active span,nav ul li ul li a.active span {
background-position:-9999px;
padding-top:6px;
padding-bottom:6px;
padding-left:15px;
}

.menu {
float:right;
padding:20px 0 0;
}

.menu ul {
list-style:none;
margin:0;
padding:0;
}

.menu li {
float:left;
font:bold 12px Arial, Helvetica, sans-serif;
color:#383838;
display:block;
}

.menu li a {
color:#383838;
text-decoration:none;
padding-right:17px;
}

.menu li a:hover {
color:#2C5C94;
text-decoration:none;
}

.menu li a.active1 {
color:#2C5C94;
text-decoration:none;
}

/*----------------------------------------------------------------------*/
/* Content
/*----------------------------------------------------------------------*/
#content {
border:0;
/*padding:15px 5px 15px 230px;*/
padding:15px 5px 15px 0;
margin:0;
min-height:600px;
border:1px solid;
overflow:visible;
-webkit-border-bottom-left-radius:4px;
-moz-border-radius-bottomleft:4px;
border-bottom-left-radius:4px;
-webkit-border-bottom-right-radius:4px;
-moz-border-radius-bottomright:4px;
border-bottom-right-radius:4px;
}

header#loginLogo + #content {
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.bgsample {
border:1px solid;
float:left;
margin:8px;
padding:27px 30px;
}

/*----------------------------------------------------------------------*/
/* Gallery
/*----------------------------------------------------------------------*/
.gallery {
border:1px solid;
padding:3px;
overflow:auto;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.widget .gallery {
padding:0;
border:0;
}

.gallery .sortable_placeholder {
margin:4px;
}

.gallery li {
margin:4px;
position:relative;
list-style:none;
float:left;
padding:8px;
border:1px solid;
overflow:hidden;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.gallery li > a {
display:block;
margin:0;
padding:0;
height:116px;
width:116px;
background-position:center center;
background-repeat:no-repeat;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.gallery li img {
position:relative;
}

.gallery li span {
position:absolute;
top:140px;
left:0;
display:block;
height:132px;
width:132px;
padding-top:4px;
border-top:1px solid;
}

.gallery li > a span a {
/* position:relative; */
display:block;
padding-left:24px;
margin:2px 16px;
background-position:center left;
background-repeat:no-repeat;
height:20px;
}

.gallery li a span a.edit {
}

.gallery li a span a.delete {
}

/*----------------------------------------------------------------------*/
/* Breadcrumb
/*----------------------------------------------------------------------*/
.breadcrumb {
margin-bottom:20px;
display:block;
overflow:hidden;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.breadcrumb.disabled {
opacity:0.8;
filter:Alpha(opacity=80);
}

.breadcrumb li {
float:left;
margin:0;
list-style:none;
max-width:280px;
}

.breadcrumb li:first-child {
margin-left:0;
}

.breadcrumb li a {
padding:10px 35px 5px 30px;
font-size:14px;
display:block;
font-weight:700;
margin-left:-20px;
border:1px solid;
border-left:0;
background-repeat:no-repeat;
background-position:0 0;
height:25px;
text-decoration:none;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.breadcrumb li a span {
padding:4px 9px;
height:20px;
background-repeat:no-repeat;
background-position:-2px -2px;
display:block;
text-indent:-9999px;
}

.breadcrumb li a.previous span {
opacity:0.6;
filter:Alpha(opacity=60);
}

.breadcrumb li a.previous:hover span {
opacity:1;
filter:none;
}

.breadcrumb li:first-child a {
border-left:1px solid;
background-position:-20px 0;
margin-left:0;
padding-left:20px;
}

.breadcrumb li:last-child a {
padding-right:20px;
}

.breadcrumb li a.previous {
background-position:0 -129px;
}

.breadcrumb.disabled li a.previous:hover {
background-position:0 -129px;
}

.breadcrumb li:first-child a.previous {
background-position:-20px -129px;
}

.breadcrumb.disabled li:first-child a.previous:hover {
background-position:-20px -129px;
}

.breadcrumb li a:hover {
background-position:0 -43px;
}

.breadcrumb.disabled li a:hover {
background-position:0 0;
}

.breadcrumb li:first-child a:hover {
background-position:-20px -43px;
}

.breadcrumb.disabled li:first-child a:hover {
background-position:-20px 0;
}

.breadcrumb li a:active,.breadcrumb li a.active,.breadcrumb.disabled li a.active:hover {
background-position:0 -86px;
}

.breadcrumb li:first-child a:active,.breadcrumb li:first-child a.active,.breadcrumb.disabled li:first-child a.active:hover {
background-position:-20px -86px;
}

/*----------------------------------------------------------------------*/
/* Message Box
/*----------------------------------------------------------------------*/
#wl_msg {
position:absolute;
top:90px;
right:25px;
z-index:15;
width:300px;
}

#wl_msg .msg-box:first-child {
-webkit-border-top-left-radius:4px;
-moz-border-radius-topleft:4px;
border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topright:4px;
border-top-right-radius:4px;
}

#wl_msg .msg-box:last-child {
-webkit-border-bottom-left-radius:4px;
-moz-border-radius-bottomleft:4px;
border-bottom-left-radius:4px;
-webkit-border-bottom-right-radius:4px;
-moz-border-radius-bottomright:4px;
border-bottom-right-radius:4px;
}

#wl_msg .msg-box,#wl_msg .msg-box-close {
border:1px solid;
margin-bottom:4px;
display:none;
}

#wl_msg .msg-box-close {
text-align:center;
cursor:pointer;
-webkit-border-bottom-left-radius:4px;
-moz-border-radius-bottomleft:4px;
border-bottom-left-radius:4px;
-webkit-border-bottom-right-radius:4px;
-moz-border-radius-bottomright:4px;
border-bottom-right-radius:4px;
}

#wl_msg .msg-box-close:hover {
}

#wl_msg .msg-box h3,#wl_msg .msg-close {
height:28px;
}

#wl_msg .msg-box h3 {
border-bottom:1px solid;
font-size:14px;
width:264px;
line-height:30px;
padding-left:8px;
margin:0;
float:left;
}

#wl_msg .msg-close {
border-left:1px solid;
border-bottom:1px solid;
display:block;
float:right;
width:25px;
line-height:1px;
padding:0;
text-indent:-9999px;
background-position:50% 50%;
background-repeat:no-repeat;
}

#wl_msg .msg-close:hover {
}

#wl_msg .msg-content {
clear:both;
padding:10px;
}

/*----------------------------------------------------------------------*/
/* Alert Boxes
/*----------------------------------------------------------------------*/
div.alert {
border:1px solid;
margin-bottom:15px;
cursor:pointer;
background-repeat:no-repeat;
background-position:7px 8px;
padding:10px 10px 10px 35px;
font-size:14px;
font-weight:700;
margin:0;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

div.alert code {
background:none;
border:0;
}

form div.alert {
margin:15px 4px;
}

div.alert:hover {
border:1px solid;
}

div.alert a {
font-size:14px;
font-weight:700;
}

/*----------------------------------------------------------------------*/
/* Buttons
/*----------------------------------------------------------------------*/
button,a.btn,.button,.dataTables_paginate span.paginate_button,.dataTables_paginate span.paginate_active {
border:1px solid;
position:relative;
padding:9px 12px;
display:inline-block;
cursor:pointer;
background-repeat:no-repeat;
background-position:4px 5px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
text-decoration:none;
font-size:11px;
font-weight:700;
outline:0 none;
text-align:center;
text-transform:uppercase;
margin:2px;
min-height:22px;
min-width:8px;
white-space:pre-line;
vertical-align:baseline;
}

button.small,a.btn.small,.button.small {
min-height:14px;
line-height:14px;
font-size:10px;
padding:4px 7px;
}

button.big,a.btn.big,.button.big {
font-size:14px;
padding:12px 16px;
}

button.icon,a.btn.icon,.button.icon {
padding-left:27px;
}

button.small.icon,a.btn.small.icon,.button.small.icon {
padding-left:23px;
background-position:0 -2px;
}

button.big.icon,a.btn.big.icon,.button.big.icon {
padding-left:27px;
background-position:-0 8px;
}

a.btn.nt,button.nt,.button.nt {
background-position:50% 50%;
text-indent:-9999px;
}

a.btn.small.nt,button.small.nt,.button.small.nt {
padding-left:12px;
padding-right:12px;
}

button {
}

a.btn {
line-height:18px;
min-height:18px;
}

button:hover,a.btn:hover,.button:hover {
}

button:active,a.btn:active,.button:active,.dataTables_paginate span.paginate_active {
top:1px;
}

/*----------------------------------------------------------------------*/
/* Form Elements
/*----------------------------------------------------------------------*/
fieldset {
padding:15px;
}

pre {
white-space:pre-wrap;
white-space:0;
white-space:0;
white-space:0;
word-wrap:break-word;
padding:12px 15px;
line-height:18px;
}

pre,code {
font-size:11px;
padding:1px 2px;
border:1px solid;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

pre code {
display:block;
border:0;
}

input,textarea {
width:100%;
border:1px solid;
padding:4px 2px;
margin:0 1px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

input.g1,input.g2,input.g3,input.g4,input.g5,input.g6,input.g7,input.g8,input.g9,input.g10,input.g11,input.g12,textarea.g1,textarea.g2,textarea.g3,textarea.g4,textarea.g5,textarea.g6,textarea.g7,textarea.g8,textarea.g9,textarea.g10,textarea.g11,textarea.g12 {
margin-left:0;
padding:6px 2px;
min-height:auto;
}

input.placeholder,textarea.placeholder {
font-style:italic;
}

input:focus,textarea:focus {
outline:none;
}

select optgroup,select option {
font-style:normal;
/* 21-8-2012 Mohan */
font-family:'PT Sans', sans-serif;
border:0;
}

select option {
border:1px solid;
padding:3px;
}

input[type=submit],input[type=checkbox],input[type=radio],input[type=button],button {
/*width:auto !important;21-8-2012 Mohan */
width:auto;
}

input[type=submit],input[type=button],button {
padding:4px 9px;
}

/*input[type=submit]{
min-height:33px;
}
*/
/*form{
border:1px solid;
padding:4px;
margin-bottom:18px;
-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
}
form:last-child{
margin-bottom:0;
}*/
.widget form {
border:0;
}

/*form .wl_formstatus{
padding-left:18px;
}
form fieldset{
padding:0;
margin:4px;
border:1px solid;
border-bottom:0;
margin-top:18px;
-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
}
form fieldset:first-child{
margin-top:4px;
}
form label{
border-top:1px solid;
display:block;
font-size:16px;
margin:0;
padding:15px 10px;
font-weight:700;
-webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px;
-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px;
}
form label span{
font-size:12px;
}
form span.required{
padding:0 4px;
font-size:10px;
background-repeat:no-repeat;
background-position:left bottom;
}
form input, form textarea{
padding:6px 2px;
font-size:13px;
}
form fieldset > section{
width:100%;
border-top:1px solid;
border-bottom:1px solid;
float:left;
padding:0;
margin:0;
}
form fieldset > section:first-child{
-webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px;
-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px;
}
form fieldset > section:last-child{
-webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; border-bottom-left-radius:4px;
-webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; border-bottom-right-radius:4px;
}

form fieldset > section > div{
padding:15px 1%;
width:78%;
float:right;
border-left:1px solid;
height:100%;
min-height:100%;
}

form fieldset > section > div > div{
float:none;
clear:both;
width:auto;
}
form fieldset > section > div div.date{
max-width:230px;
}
form fieldset > section.error > label{
text-shadow:none;
font-weight:700;
}
form fieldset > section > div span{
font-size:11px;
}
form fieldset > section.error{
border-bottom:1px solid;
}
form fieldset > section.error > label{
text-shadow:none;
font-weight:700;
}
form fieldset > section label{
border:0;
cursor:pointer;
font-size:13px;
font-weight:100;
float:left;
background:none;
filter:none;
margin:0;
width:16%;
padding-left:2px;
margin-left:8px;
text-align:left;
}
form fieldset > section > div > div.selector{
}
form fieldset > section > div > div.selector span{
height:32px;
}
form fieldset > section > div > div.selector select{
height:32px;
cursor:pointer;
}
form fieldset > section > div > div.checker, form fieldset > section > div > div.radio{
display:inline-block;
margin:0;
line-height:1;
float:none;
}
form fieldset > section > div > div.checker span, form fieldset > section > div > div.radio span{
display:inline-block;
height:22px;
width:22px;
float:none;
}
form fieldset > section > div > div.checker span input, form fieldset > section > div > div.radio span input{
display:inline;
width:22px;
height:22px;
min-width:22px;
min-height:22px;
margin:0;
padding:0;
cursor:pointer;
}
form fieldset > section > div label{
position:relative;
width:auto;
margin:0;
padding:0;
display:inline-block;
float:none;
top:-5px;
font-size:11px;
line-height:1.5;
-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;
}
form fieldset > section label span{
font-size:10px;
}
form div input{
}*/
textarea {
min-height:70px;
resize:none;
overflow:auto;
}

input.date {
width:80px;
}

input[type=password],input.password {
width:150px;
}

div.passwordstrength {
font-size:12px;
padding:5px 3px;
text-align:center;
width:150px;
margin:3px 1px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

div.passwordstrength.s_1 {
}

div.passwordstrength.s_2 {
}

div.passwordstrength.s_3 {
}

div.passwordstrength.s_4 {
}

div.passwordstrength.s_5 {
}

input.time {
width:35px;
text-align:center;
}

span.timeformat {
font-size:11px;
padding-left:1px;
}

input.integer,input.decimal {
width:60px;
text-align:right;
}

input.color {
width:60px;
}

/*----------------------------------------------------------------------*/
/* jQuery Checkbox
/*----------------------------------------------------------------------*/
.jquery-checkbox,.jquery-checkbox span {
display:inline;
font-size:16px;
line-height:16px;
cursor:pointer;
}

.jquery-checkbox span.checkboxplaceholder {
vertical-align:baseline;
padding:2px 12px 0;
line-height:8px;
background-repeat:no-repeat;
}

.jquery-checkbox span.checkboxplaceholder {
background-image:url(dark/images/checkbox.png);
}

.jquery-checkbox.checkbox span.checkboxplaceholder {
background-position:0 0;
}

.jquery-checkbox.checkbox .hover span.checkboxplaceholder {
background-position:0 -26px;
}

.jquery-checkbox.checkbox .hover.pressed span.checkboxplaceholder {
background-position:0 -51px;
}

.jquery-checkbox.checkbox.checked span.checkboxplaceholder {
background-position:0 -77px;
}

.jquery-checkbox.checkbox.checked .hover span.checkboxplaceholder {
background-position:0 -102px;
}

.jquery-checkbox.checkbox.checked .hover.pressed span.checkboxplaceholder {
background-position:0 -128px;
}

.jquery-checkbox.checkbox .disabled span.checkboxplaceholder {
background-position:0 -153px!important;
cursor:auto;
}

.jquery-checkbox.checkbox.checked .disabled span.checkboxplaceholder {
background-position:0 -179px!important;
cursor:auto;
}

.jquery-checkbox.radio span.checkboxplaceholder {
background-position:-26px 0;
}

.jquery-checkbox.radio .hover span.checkboxplaceholder {
background-position:-26px -26px;
}

.jquery-checkbox.radio .hover.pressed span.checkboxplaceholder {
background-position:-26px -51px;
}

.jquery-checkbox.radio.checked span.checkboxplaceholder {
background-position:-26px -77px;
}

.jquery-checkbox.radio.checked .hover span.checkboxplaceholder {
background-position:-26px -102px;
}

.jquery-checkbox.radio.checked .hover.pressed span.checkboxplaceholder {
background-position:-26px -128px;
}

.jquery-checkbox.radio .disabled span.checkboxplaceholder {
background-position:-26px -153px!important;
cursor:auto;
}

.jquery-checkbox.radio.checked .disabled span.checkboxplaceholder {
background-position:-26px -179px!important;
cursor:auto;
}

/*----------------------------------------------------------------------*/
/* File Upload
/*----------------------------------------------------------------------*/
div.fileuploadui {
padding:0 5px;
margin-bottom:5px;
}

div.fileuploadui a {
margin-right:10px;
font-size:11px;
display:inline!important;
}

ul.fileuploadpool {
display:block;
clear:both;
margin-bottom:5px;
border:1px solid;
z-index:1;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
min-height:68px;
min-width:138px;
overflow:hidden;
padding:4px;
}

ul.fileuploadpool.drop {
}

ul.fileuploadpool.single {
width:138px;
}

ul.fileuploadpool li {
font-size:11px;
list-style-type:none;
float:left;
border:1px solid;
margin:4px;
padding:4px;
height:50px;
width:120px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
-webkit-animation-name:showfile;
-moz-animation-name:showfile;
animation-name:showfile;
-webkit-animation-duration:.2s;
-moz-animation-duration:.2s;
animation-duration:.2s;
-webkit-animation-direction:alternate;
-moz-animation-direction:alternate;
animation-direction:alternate;
-webkit-animation-timing-function:ease-out;
-moz-animation-timing-function:ease-out;
animation-timing-function:ease-out;
}

@-webkit-keyframes showfile {
from-webkit-transform:scale(0);
}

to {
-webkit-transform:scale(1.0);
}
}

@-moz-keyframes showfile {
from-webkit-transform:scale(0);
}

to {
-webkit-transform:scale(1.0);
}
}

@keyframes showfile {
from-webkit-transform:scale(0);
}

to {
-webkit-transform:scale(1.0);
}
}

ul.fileuploadpool li.error {
text-shadow:none;
}

ul.fileuploadpool li .name {
display:block;
height:20px;
overflow:hidden;
white-space:nowrap;
line-height:22px;
}

ul.fileuploadpool li a {
display:block;
height:24px;
width:24px;
text-indent:-9999px;
float:right;
}

ul.fileuploadpool li a:hover {
text-decoration:none;
}

ul.fileuploadpool li a.cancel {
}

ul.fileuploadpool li a.remove {
}

ul.fileuploadpool li .progress {
display:block;
line-height:1px;
height:3px;
width:0;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

ul.fileuploadpool li.success .progress {
}

/*----------------------------------------------------------------------*/
/* Comboselect
/*----------------------------------------------------------------------*/
div.comboselectbox {
display:block;
clear:both;
min-height:100px;
}

div.comboselectbox div.combowrap {
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
float:left;
border:1px solid;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
max-width:42%;
width:200px;
height:99%;
padding:1% 1% 0 0;
}

div.comboselectbox ul.comboselect {
overflow:auto;
height:99%;
}

div.comboselectbox.searchable div.combowrap:first-child ul.comboselect {
height:79%;
}

div.comboselectbox.searchable div.combowrap:first-child input {
margin:1% 2% 2%;
width:96%;
}

div.comboselectbox ul.comboselect li {
display:block;
margin:0;
list-style-type:none;
float:left;
border:1px solid;
margin:1px 6% 1px 2%;
width:92%;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

div.comboselectbox ul.comboselect li.hidden {
display:none;
}

div.comboselectbox ul.comboselect li a {
font-size:11px;
padding:3px;
float:left;
width:75%;
cursor:pointer;
text-decoration:none;
cursor:pointer;
}

div.comboselectbox ul.comboselect.ui-sortable li.selected a {
cursor:n-resize;
}

div.comboselectbox ul.comboselect li a.add,div.comboselectbox ul.comboselect li a.remove {
float:right;
display:block;
width:18px;
height:18px;
text-indent:-9999px;
background-position:center center;
background-repeat:no-repeat;
cursor:pointer;
}

div.comboselectbox ul.comboselect li.used a {
text-decoration:line-through;
}

div.comboselectbox ul.comboselect li.selected {
}

div.comboselectbox div.comboselectbuttons {
max-width:9%;
height:99%;
width:30px;
float:left;
padding:0 3px;
}

div.comboselectbox div.comboselectbuttons a {
padding:3px;
line-height:20px;
font-size:20px;
width:18px;
height:18px;
margin:0 2px;
background-position:center center;
background-repeat:no-repeat;
display:inline-block;
}

div.comboselectbox div.comboselectbuttons a.add {
}

div.comboselectbox div.comboselectbuttons a.remove {
}

div.comboselectbox div.comboselectbuttons a.addall {
}

div.comboselectbox div.comboselectbuttons a.removeall {
}

/*@media screen and (max-width:700px){
div.comboselectbox div.combowrap{
max-width:98%;
width:98%;
height:40%;
float:none;
}
div.comboselectbox.searchable div.combowrap:first-child ul.comboselect{
height:40%;
}
div.comboselectbox div.comboselectbuttons{
text-align:center;
max-width:98%;
width:98%;
float:none;
height:30px;
}
}*/
/*----------------------------------------------------------------------*/
/* Widgets
/*----------------------------------------------------------------------*/
.widget {
margin-bottom:15px;
border:1px solid;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.widget > div {
margin:2px;
padding:15px 6px 2px;
border:1px solid;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.widget > div > img {
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.widget > div.ui-widget {
width:99%;
padding:0;
}

.widget .ui-widget-header {
overflow:hidden;
}

.widget h3 {
margin:0;
}

.widget:hover {
border:1px solid;
}

.widget.ui-sortable-helper {
}

.widget h3.handle {
position:relative;
font-size:14px!important;
border-top:1px solid;
border-bottom:1px solid;
padding:8px 10px;
margin:0;
line-height:18px;
margin-bottom:1px;
cursor:pointer;
-webkit-border-top-left-radius:4px;
-moz-border-radius-topleft:4px;
border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topright:4px;
border-top-right-radius:4px;
}

.widget.sortable h3.handle {
cursor:move;
}

.widget h3.handle:hover {
}

.widget h3.handle.red {
}

.widget h3.handle.green {
}

.widget h3.handle.blue {
}

.widget h3.handle.yellow {
}

.widget h3.handle .collapse,.widget h3.handle .reload {
position:absolute;
right:8px;
top:5px;
display:block;
height:24px;
width:24px;
background-repeat:no-repeat;
background-position:center center;
display:none;
}

.widget h3.handle .reload {
right:30px;
}

.widget h3.handle a:first-child {
right:8px;
}

.widget:hover h3.handle .collapse,.widget.loading h3.handle .reload,.widget:hover h3.handle .reload {
display:block;
}

.widget h3.handle .collapse {
}

.widget h3.handle .icon {
margin-top:-3px;
margin-left:-4px;
height:24px;
width:24px;
display:inline-block;
float:left;
background-position:center;
}

.widget.collapsed {
border-bottom:1px solid;
}

.widget.collapsed h3.handle {
border-bottom:0;
-webkit-border-bottom-right-radius:4px;
-moz-border-radius-bottomright:4px;
border-bottom-right-radius:4px;
}

.widget.collapsed h3.handle .collapse {
}

.widget.number-widget > div ul {
overflow:auto;
}

.widget.number-widget > div ul li {
display:block;
margin:0;
list-style:none;
border-top:1px dotted;
padding:10px 10px 4px;
margin:0;
}

.widget.number-widget > div ul li:first-child {
border-top:0;
}

.widget.number-widget > div ul li a {
font-size:12px;
display:block;
}

.widget.number-widget > div ul li a:hover {
text-decoration:none;
}

.widget.number-widget ul li a span {
text-align:right;
display:inline-block;
width:20px;
font-size:16px;
font-weight:700;
letter-spacing:-.05em;
padding:2px 6px 2px 0;
}

.sortable_placeholder {
margin-bottom:15px;
border:1px solid;
z-index:1;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

/*----------------------------------------------------------------------*/
/* Footer
/*----------------------------------------------------------------------*/
footer {
}

/*----------------------------------------------------------------------*/
/* width
/*----------------------------------------------------------------------*/
.w_5 {
width:5%!important;
}

.w_10 {
width:10%!important;
}

.w_15 {
width:15%!important;
}

.w_20 {
width:20%!important;
}

.w_25 {
width:25%!important;
}

.w_30 {
width:30%!important;
}

.w_33 {
width:33%!important;
}

.w_35 {
width:35%!important;
}

.w_40 {
width:40%!important;
}

.w_45 {
width:45%!important;
}

.w_50 {
width:50%!important;
}

.w_55 {
width:55%!important;
}

.w_60 {
width:60%!important;
}

.w_65 {
width:65%!important;
}

.w_66 {
width:66%!important;
}

.w_70 {
width:70%!important;
}

.w_75 {
width:75%!important;
}

.w_80 {
width:80%!important;
}

.w_85 {
width:85%!important;
}

.w_90 {
width:90%!important;
}

.w_95 {
width:95%!important;
}

.w_5p {
width:5px!important;
}

.w_10p {
width:10px!important;
}

.w_15p {
width:15px!important;
}

.w_20p {
width:20px!important;
}

.w_25p {
width:25px!important;
}

.w_30p {
width:30px!important;
}

.w_35p {
width:35px!important;
}

.w_40p {
width:40px!important;
}

.w_45p {
width:45px!important;
}

.w_50p {
width:50px!important;
}

.w_55p {
width:55px!important;
}

.w_60p {
width:60px!important;
}

.w_65p {
width:65px!important;
}

.w_70p {
width:70px!important;
}

.w_75p {
width:75px!important;
}

.w_80p {
width:80px!important;
}

.w_85p {
width:85px!important;
}

.w_90p {
width:90px!important;
}

.w_95p {
width:95px!important;
}

.w_100p {
width:100px!important;
}

.w_105p {
width:105px!important;
}

.w_110p {
width:110px!important;
}

.w_115p {
width:115px!important;
}

.w_120p {
width:120px!important;
}

.w_125p {
width:125px!important;
}

.w_130p {
width:130px!important;
}

.w_135p {
width:135px!important;
}

.w_140p {
width:140px!important;
}

.w_145p {
width:145px!important;
}

.w_150p {
width:150px!important;
}

.w_155p {
width:155px!important;
}

.w_160p {
width:160px!important;
}

.w_165p {
width:165px!important;
}

.w_170p {
width:170px!important;
}

.w_175p {
width:175px!important;
}

.w_180p {
width:180px!important;
}

.w_185p {
width:185px!important;
}

.w_190p {
width:190px!important;
}

.w_195p {
width:195px!important;
}

.w_200p {
width:200px!important;
}

.fl {
float:left!important;
}

.fr {
float:right!important;
}

.l {
text-align:left;
}

.c {
text-align:center;
}

.j {
text-align:justify;
}

.r {
text-align:right;
}

/*----------------------------------------------------------------------*/
/* Clear Floats
/*----------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
clear:both;
display:block;
overflow:hidden;
visibility:hidden;
width:0;
height:0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
clear:both;
content:' ';
display:block;
font-size:0;
line-height:0;
visibility:hidden;
width:0;
height:0;
}

.clearfix {
display:inline-block;
}

* html .clearfix {
height:1%;
}

.clearfix {
display:block;
}

/*----------------------------------------------------------------------*/
/* Grid System (based on the 960 Grid System (http://960.gs)
/*----------------------------------------------------------------------*/
.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g10,.g11,.g12 {
display:inline;
float:left;
margin-left:1%;
margin-right:1%;
padding:9px 0;
min-height:10px;
}

.alpha {
margin-left:0;
}

.omega {
margin-right:0;
}

.g1 {
width:6.333%;
}

.g2 {
width:14.667%;
}

.g3 {
width:23%;
}

.g4 {
width:31.333%;
}

.g5 {
width:39.667%;
}

.g6 {
width:48%;
}

.g7 {
width:56.333%;
}

.g8 {
width:64.667%;
}

.g9 {
width:73%;
}

.g10 {
width:81.333%;
}

.g11 {
width:89.667%;
}

.g12 {
width:98%;
}

.p1 {
padding-left:8.333%;
}

.p2 {
padding-left:16.667%;
}

.p3 {
padding-left:25%;
}

.p4 {
padding-left:33.333%;
}

.p5 {
padding-left:41.667%;
}

.p6 {
padding-left:50%;
}

.p7 {
padding-left:58.333%;
}

.p8 {
padding-left:66.667%;
}

.p9 {
padding-left:75%;
}

.p10 {
padding-left:83.333%;
}

.p11 {
padding-left:91.667%;
}

.s1 {
padding-right:8.333%;
}

.s2 {
padding-right:16.667%;
}

.s3 {
padding-right:25%;
}

.s4 {
padding-right:33.333%;
}

.s5 {
padding-right:41.667%;
}

.s6 {
padding-right:50%;
}

.s7 {
padding-right:58.333%;
}

.s8 {
padding-right:66.667%;
}

.s9 {
padding-right:75%;
}

.s10 {
padding-right:83.333%;
}

.s11 {
padding-right:91.667%;
}

.ps1 {
left:8.333%;
}

.ps2 {
left:16.667%;
}

.ps3 {
left:25%;
}

.ps4 {
left:33.333%;
}

.ps5 {
left:41.667%;
}

.ps6 {
left:50%;
}

.ps7 {
left:58.333%;
}

.ps8 {
left:66.667%;
}

.ps9 {
left:75%;
}

.ps10 {
left:83.333%;
}

.ps11 {
left:91.667%;
}

.pl1 {
left:-8.333%;
}

.pl2 {
left:-16.667%;
}

.pl3 {
left:-25%;
}

.pl4 {
left:-33.333%;
}

.pl5 {
left:-41.667%;
}

.pl6 {
left:-50%;
}

.pl7 {
left:-58.333%;
}

.pl8 {
left:-66.667%;
}

.pl9 {
left:-75%;
}

.pl10 {
left:-83.333%;
}

.pl11 {
left:-91.667%;
}

/*----------------------------------------------------------------------*/
/* Layout
/*----------------------------------------------------------------------*/
.Sizer {
margin:0 auto;
max-width:0;
padding:0;
width:0;
}

.Expander {
margin:0 -530px;
/*min-width:940px;*/
min-width:1060px;
position:relative;
}

#divPageCanvasContainer {
/*float:left;*/
width:100%;
/*margin:0px 100px 0px 120px;*/
}

body {
/*margin:0 100px;*/
min-width:1060px;
}

header {
height:64px;
z-index:2;
}

nav {
/*position:absolute;*/
float:left;
width:216px;
z-index:2;
}

#content {
overflow:hidden;
left:0;
right:0;
top:0;
z-index:1;
}

footer {
padding:5px;
text-align:right;
}

/*----------------------------------------------------------------------*/
/* Login
/*----------------------------------------------------------------------*/
body#login {
position:static;
left:auto;
right:auto;
width:350px;
margin:120px auto;
padding:2%;
min-width:0;
}

body#login #content {
min-height:50px;
padding:8px;
}

/*body#login form label{
padding:0;
margin:0;
width:100%;
}
body#login form section{
width:100%;
}
body#login form section div{
width:90%;
float:none;
padding:0 4% 6px 4%;
border:0;
}
body#login form section > div{
width:90% !important;
}
body#login form section div input{
width:100% ;
}
body#login form section div input#remember{
width:auto ;
}
body#login form section div.checker{
width:auto ;
padding:0;
margin:0;
}
body#login form section label{
padding:3% 2% 1%;
width:90% ;
float:none;
}
body#login form section label.checkbox div{
width:10px;
padding:0;
margin:0;
}
body#login form section div label{
width:80% ;
}
body#login form section a{
float:right;
}
*/
/*----------------------------------------------------------------------*/
/* Wizard
/*----------------------------------------------------------------------*/
body#wizard {
position:static;
left:auto;
right:auto;
width:500px;
margin:120px auto;
padding:0;
}

body#wizard #content {
min-height:50px;
padding:8px;
}

/*----------------------------------------------------------------------*/
/* Error Page
/*----------------------------------------------------------------------*/
body#error {
position:static;
left:auto;
right:auto;
width:400px;
margin:120px auto;
padding:0;
}

body#error #content {
min-height:50px;
padding:8px;
}

body#error #content h1 {
font-size:116px;
font-weight:700;
line-height:.7em;
letter-spacing:-9px;
}

body#error #content h2 {
float:right;
}

/*----------------------------------------------------------------------*/
/* Media Queries
/*----------------------------------------------------------------------*/
/* For very large screens increes the margins*/
/*@media screen and (min-width:1281px) {
body{
margin-left:10%;
margin-right:10%;
}
}*/
/* Move the Headernav to a drop down menu to the right */
/*@media screen and (max-width:960px) {
#header ul#headernav li ul, #header ul#headernav li ul.collapsed{
display:none;
}
#header ul#headernav li ul.shown{
display:block !important;
}
#header ul#headernav{
border-left:1px solid;
position:relative;
float:right;
height:60px;
width:60px;
cursor:pointer;
background-repeat:no-repeat;
background-position:center center;
}
	
#header ul#headernav li ul{
position:absolute;
right:0;
width:170px;
padding:0;
margin:0;
top:60px;
}
#header ul#headernav li ul li{
float:none;
margin:0;
border-bottom:0;
border-top:0;
		
}
#header ul#headernav li ul li a{
padding:10px;	
}
#header ul#headernav li ul li:last-child{
border-bottom:1px solid;
		
}
#header ul#headernav li ul span{
right:5px;
top:10px;
}
#header ul#headernav li ul li ul{
position:relative;
top:0;
padding:0;
display:none;
padding-bottom:6%;
z-index:20;
width:99%;
}
#header ul#headernav li ul li ul.shown{
display:block;
}
#header ul#headernav li ul li ul li{
margin:0 6%;
}
#header ul#headernav li ul li ul li a{
font-size:12px;
padding:5px;
}
	
.g1,.g2,.g3,.g4,.g5,.g6 {
padding:0;
width:48.0%;
}
.g7,.g8,.g9,.g10,.g11,.g12 {
padding:0;
width:98%;
}
#header ul li ul li,#header ul li ul li a, #header ul#headernav li ul li ul{
-webkit-border-radius:0; -moz-border-radius:0; border-radius:0;
}
	
#header ul li ul li:last-child,#header ul li ul li:last-child a{
-webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; border-bottom-left-radius:4px;
}
}
@media screen and (max-width:900px) and (min-width:701px) {
form fieldset > section > div{
width:69%;
}
form fieldset > section label{
width:24%;
}
}*/
/* For more smaller Screens (iPad) */
/*@media screen and (max-width:700px) {
header #search,header #searchbox{
max-width:100px;
}
form label{
padding:10px 1%;
}
form fieldset > section{
padding-bottom:8px;
}
form fieldset > section > label{
left:0;
right:0;
width:98%;
margin:0;
float:none;
padding:1%;
padding-bottom:8px;
}
form fieldset > section > div{
float:none;
width:98%;
padding:4px;
border:0;
}
.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g10,.g11,.g12 {
width:98%;
}
	
}
@media screen and (max-width:800px) and (min-width:481px) {
nav{
width:150px;
}
nav ul li a span{
font-size:12px;
}
nav ul li ul{
margin-left:10px;
margin-right:10px;
}
nav ul li ul li a span{
padding-right:4px;
}
#content{
padding:15px 0 15px 160px;
}
	
}*/
/* iPhone and real small devicces */
/*@media screen and (max-width:480px) {
body#login{
position:static;
left:auto;
right:auto;
width:96%;
margin:10px auto;
padding:0;
}
body#login #content{
padding:0;
padding-top:20px;
width:99%;
}
body#login form{
border:0;
}
body#login form section label{
border:0;
}
body#login fieldset{
margin:0px;
}
body#login form > section a{
margin:10px 4%;
float:left;
}
#pageoptions > div{
left:2px;
right:2px;
padding:15px;
}
header #searchbox{
display:none;
max-width:40px;
}
header #searchbox input{
max-width:40px;
}
header ul#searchboxresult{
display:none !important;
}
body{
width:96%;
margin:1%;
}
body, header, nav, #content{
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
}
#header{
}
#logo{
width:100%;
}
#logo, header, #content{
width:100%;
}
nav, nav ul, nav ul li, nav ul li a, nav ul li a span, nav ul li a:active span, nav ul li a.active span{
margin:0;
padding:0;
}
nav ul li a:active span, nav ul li a.active span{
border-top:1px solid;
background-position:center center;
}
nav{
border-top:1px solid;
position:static;
width:98%;
margin:0 1%;
}
nav ul li{
width:44px;
display:inline-block;
margin-left:-2px;
margin-right:-2px;
}
nav ul li a span{
border-left:1px solid;
border-bottom:0;
height:40px;
text-indent:-9999px;
background-position:center center;
}
nav ul li:first-child a span{
border-left:0;
}
nav ul li ul{
position:absolute;
left:0;
margin:0;
z-index:15;
background:none;
width:98%;
margin:0 1%;
}
nav ul li ul li{
display:block;
width:100%;
}
nav ul li ul li a span{
height:20px;
text-indent:0;
}
	
#content{
padding:0;
}
form{
padding:0;
margin:0;
}
form input, form textarea{
font-size:14px;
max-width:96%;
}
#wl_msg{
right:5px;
left:5px;
width:auto;
}
.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g10,.g11,.g12 {
width:100%;
margin:0;
min-height:0;
}
}*/
/*----------------------------------------------------------------------*/
/* jQuery UI mods
/*----------------------------------------------------------------------*/
.ui-tabs .ui-tabs-nav li {
margin:0 2px 0 0!important;
}

.ui-tabs .ui-tabs-nav,.ui-tabs {
padding:0!important;
}

.ui-widget {
padding:0!important;
}

.ui-widget-header {
border:0!important;
border-top:1px solid!important;
border-bottom:1px solid!important;
background-repeat:repeat!important;
margin:0!important;
}

.ui-widget-header a,.ui-accordion-header a,.ui-datepicker-title .ui-datepicker-month,.ui-datepicker-title .ui-datepicker-year {
font-size:14px!important;
}

.ui-state-default a {
border-top:1px solid!important;
-webkit-border-radius:4px!important;
-moz-border-radius:4px!important;
border-radius:4px!important;
}

.ui-tabs .ui-tabs-panel {
padding:0!important;
}

.ui-tabs .ui-tabs-panel p {
margin:1em 1.3em!important;
}

.ui-tabs .ui-tabs-selected {
border-bottom:0;
}

.ui-accordion-content p {
margin:0!important;
}

.ui-accordion .ui-accordion-header {
margin-top:0!important;
}

.ui-datepicker .ui-widget-header {
padding:4px!important;
}

.ui-widget-overlay {
background-repeat:repeat!important;
}

.ui-slider-range.ui-widget-header {
background-position:center!important;
border:0!important;
}

.ui-slider-horizontal .ui-slider-handle {
top:-5px!important;
min-height:22px;
min-width:18px;
margin-left:-10px!important;
cursor:pointer!important;
}

.ui-slider-vertical {
float:left;
}

.ui-slider-vertical .ui-slider-handle {
left:-5px!important;
min-height:18px;
min-width:22px;
margin-bottom:-10px!important;
cursor:pointer!important;
}

.ui-slider {
min-height:14px;
min-width:14px;
border:1px solid;
background-repeat:repeat!important;
margin:10px;
}

.ui-slider .ui-slider-handle {
background-repeat:no-repeat!important;
z-index:1!important;
position:relative;
}

.ui-slider-horizontal .ui-slider-handle {
background-position:right center!important;
}

.ui-slider-vertical .ui-slider-handle {
background-position:left center!important;
}

.ui-slider-range {
-webkit-border-radius:4px!important;
-moz-border-radius:4px!important;
border-radius:4px!important;
}

/*
Custom styling
*/
.repeater table td,table th {
padding:6px 3px;
text-align:left;
}

.subAdminRepeater table {
margin-bottom:1px;
}

.displayBlock {
display:block;
}

.displayNone {
display:none;
}

h3 span span {
font-size:15px;
line-height:10px;
}

#formDiv fieldset >div {
width:100%;
border-top:1px solid;
border-bottom:1px solid;
float:left;
padding:0;
margin:0;
border-top-color:white;
border-bottom-color:#E7E7E7;
border-top-color:white;
border-bottom-color:#E7E7E7;
background:#F6F6F6;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#f1f1f1');
background:0 to(#F1F1F1));
background:0;
background:0;
}

#formDiv fieldset>div>section label {
border:0;
cursor:pointer;
font-size:13px;
font-weight:100;
float:left;
background:none;
filter:none;
margin:0;
width:16%;
padding-left:2px;
margin-left:8px;
text-align:left;
}

#formDiv fieldset>div>section >div {
padding:15px 1%;
width:78%;
float:right;
border-left:1px solid;
height:100%;
min-height:100%;
border-left-color:#E7E7E7;
}

.dialogError {
float:left;
margin-left:0;
margin-right:5px;
background-image:url(../images/dialog_error.png);
width:16px;
height:16px;
top:2px;
position:relative;
top:4px;
}

.dialogInfo {
float:left;
margin-left:0;
margin-right:5px;
background-image:url(../images/dialog_info.png);
width:16px;
height:16px;
top:2px;
position:relative;
top:4px;
}

.dialogWarning {
float:left;
margin-left:0;
margin-right:5px;
background-image:url(../images/dialog_warning.png);
width:16px;
height:16px;
top:2px;
position:relative;
top:4px;
}

/* Start by setting display:none to make this hidden.
Then we position it in relation to the viewport window
with position:fixed. Width, height, top and left speak
speak for themselves. Background we set to 80% white with
our animation centered, and no-repeating */
.waitModal {
display:none;
position:fixed;
z-index:1000;
top:0;
left:0;
height:100%;
width:100%;
background:rgba(255,255,255,.8) url(../css/images/icons/light/ajax-loader.gif) 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
the scrollbar off with overflow:hidden */
body.loading {
overflow:hidden;
}

/* Anytime the body has the loading class, our
modal element will be visible */
body.loading .waitModal {
display:block;
}

.WaitCanvas {
width:210px;
height:50px;
background-color:#FFFFFF;
text-align:center;
float:left;
}

#WaitAnim {
/*margin:5px 0px 0px 30px;
text-align:center;
float:left;*/
}

body#login #formDiv fieldset > section > #divRemember.rememberMe div {
clear:both;
padding:0 3px 6px 2px;
}

body#login #formDiv fieldset > section > #divRemember.rememberMe > div {
float:left;
width:auto;
clear:none;
}

body#login #formDiv fieldset > section > #divRemember.rememberMe > div > label {
width:auto;
float:left;
padding:0;
}

body#login #formDiv fieldset > section > #divRemember.rememberMe > div > div {
float:left;
clear:none;
}

body#login #formDiv fieldset > section > #divRemember.rememberMe > div > div> label {
float:left;
clear:none;
width:auto;
}

body#login #formDiv fieldset > section > #divRemember.rememberMe> div> div > input {
width:auto;
float:left;
}

div.modalPopUpDetails {
width:100%;
}

form div.modalPopUpDetails>div >div > fieldset >section div.column1 {
float:left;
width:100px;
color:#6F6F6F;
clear:none;
text-shadow:0 -1px 0 white;
font-size:11px;
font-style:normal;
font-weight:bold;
font-weight:700;
}

form div.modalPopUpDetails>div > div >fieldset >section div.column1 >span {
font-weight:500;
}

form div.modalPopUpDetails>div > div >fieldset >section {
clear:both;
}

form div .modalPopUpDetails>div >div > fieldset >section div.column2 {
margin-left:3px;
margin-right:4px;
float:left;
width:auto;
}

form div .modalPopUpDetails>div >div > fieldset >section div.column3 {
float:left;
width:auto;
margin-left:3px;
}

form div.modalPopUpDetails > div > div > fieldset > section div {
margin-top:4px;
}

form div.modalPopUpDetails div.innerHeader>span {
text-shadow:0 -1px 0 white;
font-size:12px;
font-style:normal;
font-weight:bold;
font-weight:600;
width:auto;
color:#6f6f6f;
}

form div.modalPopUpDetails fieldset {
padding:5px;
}

/*20-8-2012*/
#formDiv fieldset >div {
width:100%;
border-top:1px solid;
border-bottom:1px solid;
float:left;
padding:0;
margin:0;
border-top-color:white;
border-bottom-color:#E7E7E7;
border-top-color:white;
border-bottom-color:#E7E7E7;
background:#F6F6F6;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#f1f1f1');
background:0 to(#F1F1F1));
background:0;
background:0;
}

#formDiv fieldset>div>section label {
border:0;
cursor:pointer;
font-size:13px;
font-weight:100;
float:left;
background:none;
filter:none;
margin:0;
width:12%;
padding-left:2px;
margin-left:8px;
text-align:left;
}

#formDiv fieldset>div>section>div {
padding:15px 1%;
width:82%;
float:right;
border-left:1px solid;
height:100%;
min-height:100%;
border-left-color:#E7E7E7;
}

div.modalPopUp table tr td {
border:none;
text-align:left;
}

div.modalPopUp table tr td >label {
position:relative;
top:2px;
}

.comboRepeater {
overflow:auto;
margin-bottom:18px;
line-height:18px;
font-size:12px;
height:100%;
}

div.comboselectbox div.combowrap div.comboRepeater> div {
background-color:#F6F6F6;
display:block;
margin:0;
float:left;
border:1px solid;
width:95%;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
line-height:18px;
border-color:#ffffff #E7E7E7 #CCC;
}

div.comboselectbox div.combowrap div.comboRepeater >div {
font-size:11px;
padding:2px;
float:left;
margin-left:2px;
cursor:pointer;
text-decoration:none;
cursor:pointer;
}

div.comboselectbox div.combowrap div.comboHeader {
margin-left:5px;
margin-bottom:5px;
}

div.comboselectbox div.combowrap div.comboRepeater >div a.add {
background-image:url(images/icons/dark/plus.png);
float:right;
display:block;
width:18px;
height:18px;
text-indent:-9999px;
background-position:center center;
background-repeat:no-repeat;
cursor:pointer;
}

div.comboselectbox div.combowrap div.comboRepeater> div.checker +span {
position:relative;
top:2px;
}

div.comboselectbox div.combowrap div.comboRepeater> div.checker ~span {
position:relative;
top:2px;
}

/* styling for registerDevice.aspx.Now it is  general.If required we have to make this more specific*/
span input[type=radio] +label {
position:relative;
top:-2px;
margin-left:3px;
font-size:14px;
}

span input[type=radio]+label+input[type=radio] {
margin-left:5px;
}

div.g4 span {
margin-left:7px;
}

/*this styling is specially for radio button list whose display is in table form*/
div.radioButtonList {
padding:1px;
}

div.radioButtonList table {
margin:1px;
}

div.radioButtonList >table td {
border:none;
padding:0;
text-align:left;
}

div.radioButtonList >table th {
border:none;
padding:0;
text-align:left;
}

div.radioButtonList div.radio + label {
position:relative;
top:3px;
margin-left:2px;
}

.widget>div.customWidgetDirectDiv {
padding:0;
}

table.customMargin {
margin-bottom:1px;
}

/* for manage devices search button but still its general */
/*input:not([type="image"])
{
background-color:transparent;
}*/
select {
height:32px;
}

.LinkButton {
position:relative;
margin-top:15px;
}

.LinkButton:hover {
color:#00aacc;
text-decoration:underline;
}

.checkbox {
margin-left:35px;
}

.Main {
margin-left:auto;
/* Center mainTable for >= IE6  */
margin-right:auto;
/* Center mainTable for >= IE6  */
}

.LeftLabelColumn {
float:left;
font-weight:bold;
width:auto;
}

.LeftValueColumn {
width:150px;
float:right;
padding:15px;
margin-left:auto;
margin-right:auto;
}

.SaveBtn {
float:left;
}

.DashboardLink {
position:relative;
margin-top:15px;
}

.widget .customWidgetDirectDiv div.searchRow {
float:left;
background-image:url(light/images/paper_01.png);
margin:6px;
margin-top:2px;
border-color:#DDD #E7E7E7;
border:1px solid;
padding-top:5px;
padding-bottom:6px;
border:1px solid;
border-color:#DDD #E7E7E7;
}

.g12 {
display:inline;
float:left;
margin-left:1%;
margin-right:1%;
padding:9px 0;
min-height:10px;
}

.repeaterTable td.radioColumn {
padding:0;
border:none;
}

.repeaterTable td.radioColumn tbody tr td,thead tr th {
padding:0;
border:none;
}

.repeaterTable td.radioColumn table {
background:none;
margin-bottom:0;
}

.repeaterTable td.radioColumn tr {
border:none;
}

.repeaterTable td.radioColumn tr {
position:relative;
top:3px;
}

/*20-8-2012*/
.formDivCls fieldset >div {
width:100%;
border-top:1px solid;
border-bottom:1px solid;
float:left;
padding:0;
margin:0;
border-top-color:white;
border-bottom-color:#E7E7E7;
border-top-color:white;
border-bottom-color:#E7E7E7;
background:#F6F6F6;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#f1f1f1');
background:0 to(#F1F1F1));
background:0;
background:0;
}

.formDivCls fieldset>div>section {
float:left;
width:100%;
height:100%;
}

/*.formDivCls fieldset>div>section label{
border: 0;
cursor: pointer;
font-size: 13px;
font-weight: 100;
float: left;
background: none;
filter: none;
margin: 0;
width: 10%;
padding-left: 2px;
margin-left: 8px;
text-align: left;
}

.formDivCls fieldset>div>section>div
{
padding: 15px 1%;
width: 82%;
float: right;
border-left: 1px solid;
height: 100%;
min-height: 100%;
border-left-color: #E7E7E7
}*/
.formDivCls fieldset>div>section label {
border:0;
cursor:pointer;
font-size:13px;
font-weight:100;
float:left;
background:none;
filter:none;
margin:0;
width:auto;
padding-left:2px;
margin-left:8px;
text-align:left;
}

.formDivCls fieldset>div>section>div {
/*padding: 25px 1%;*/
padding:15px 1%;
/*17/10/2012*/
width:78%;
float:right;
border-left:1px solid;
height:100%;
min-height:100%;
border-left-color:#E7E7E7;
}

div.modalPopUpDetails {
width:100%;
display:none;
}

div.modalPopUpDetails>div.container {
float:left;
width:100%;
}

div.modalPopUpDetails>div.container div.singleColumn {
width:100%;
float:left;
margin:3px;
padding:2px;
}

div.modalPopUpDetails>div.container div.singleColumn >div.leftColumn {
float:left;
width:100px;
color:#6F6F6F;
clear:none;
text-shadow:0 -1px 0 white;
font-size:11px;
font-style:normal;
font-weight:bold;
font-weight:700;
}

div.modalPopUpDetails>div.container div.singleColumn >div.leftColumn>span {
font-weight:500;
}

div.modalPopUpDetails>div.container div.singleColumn >div.middleColumn {
margin-left:3px;
margin-right:4px;
float:left;
width:auto;
}

div.modalPopUpDetails div.singleColumn > div.lastColumn {
float:left;
width:auto;
margin-left:10px;
}

div.modalPopUpDetails div.action input[type=submit] {
float:right;
margin-left:5px;
}

div.modalPopUpDetails div.action {
float:left;
width:100%;
margin-top:15px;
border-top:1px solid;
padding:8px 0 0;
}

div.modalPopUpDetails div.action.center {
text-align:center;
}

div.modalPopUpDetails div.action.center input[type=submit] {
float:none;
}

div.RptFooterMessage {
font-style:italic;
margin:2px 0 0 5px;
height:auto;
}

#divWaitBox {
text-align:center;
margin-top:5px;
display:none;
margin-bottom:5px;
min-height:0!important;
height:auto;
}

.waitBoxCorner {
-moz-border-radius:8px!important;
-webkit-border-radius:8px!important;
border-radius:8px!important;
}

#divDenyRequest>.singleColumn>.leftColumn {
margin-top:8px;
}

#divDenyRequest>.singleColumn>.middleColumn {
margin-top:8px;
}

/* Support Queries*/
.modalPopUpDetails .fieldsetLegendDiv {
float:left;
background-image:url(themes/images/paper_01.png);
margin:5px;
padding:5px;
border:1px solid;
border-color:#DDD #E7E7E7;
width:96%;
}

form div.modalPopUpDetails fieldset section div.column1 {
clear:none;
color:#6F6F6F;
float:left;
font-size:11px;
font-style:normal;
font-weight:700;
text-shadow:0 -1px 0 white;
width:100px;
}

form div .modalPopUpDetails fieldset section div.column2 {
float:left;
margin-left:3px;
margin-right:4px;
width:auto;
}

form div .modalPopUpDetails div.singleSection fieldset section div.column3 {
float:left;
margin-left:3px;
width:250px;
word-wrap:break-word;
}

form div.modalPopUpDetails fieldset section > div {
margin-top:4px;
}

form div.modalPopUpDetails fieldset section {
clear:both;
}

.modalPopupForm {
display:block;
}

.modalPopupFormContent {
display:block;
width:70%;
margin:auto;
padding:2px 5px;
}

.modalPopupFormContent > div {
margin-bottom:7px;
}

.modalPopupFormContent > div div {
margin-top:5px;
}

.modalPopUpAction {
width:100%!important;
margin-top:3px!important;
}

.modalPopUpAction {
text-align:center;
padding:5px;
}

.modalPopUpAction > .modalPopUpActionCenterTwo {
width:60%;
margin:auto;
}

.modalPopUpAction input[type=submit] {
margin:0 3px;
}

.ui-datepicker-title > select
{
    height: auto;
}
select.ui-datepicker-month {
    height: auto;
}
.customFieldset
{
   float: left;
background-image: url(themes/images/paper_01.png);
margin: 5px;
margin-top: 2px;
padding-top: 5px;
padding-bottom: 6px;
border: 1px solid;
border-color: #DDD #E7E7E7 #DDD #E7E7E7;
width: 98.75% 
} 