#qb-ui-tree {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}

.qb-ui-tree-field-helper {
    cursor: pointer;
    font-size: 10px;
    font-family: Verdana, Arial, sans-serif;
    z-index: 2000;
}

#qb-ui-tree {
    padding: 0;
    margin-top: 0;
    white-space: nowrap;

    float: left;
    position: relative;

    border: 1px none #BBBBBB;
    border-right-style: solid;
    border-left: 0 solid;

    overflow: hidden;
    left: 0;

    font-family: Verdana, Arial, sans-serif
}

.qb-ui-tree-selects {
    padding: 2px;
}

.qb-ui-tree-item-block {
    overflow: auto;
}

#qb-ui-tree-item-pager-block {
    margin-left: 2px;
    margin-right: 4px;
}

.qb-ui-tree-item-filter-block {
    padding-top: 2px;
    width: 100%;

}

.qb-ui-tree-item-filter-block table {
    width: 100%;
}

.qb-ui-tree-item-filter-block .icon-cross {
    background: url("../../img/icons/cross.png") no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

.qb-ui-tree-item-filter-block .icon-filter {
    background: url("../../img/icons/filter.png") no-repeat 1px;
    width: 18px;
    height: 16px;
    margin-left: 6px;
}

#qb-ui-tree-item-filter-input {
    width: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.qb-ui-tree-selects-label {
}

.qb-ui-tree-selects-select {
    padding-left: 22px;
}

.qb-ui-tree-selects-select select {
    width: 100%;
    margin: 0;
}

.select-type-0 .qb-ui-tree-selects-select {
    background: url("../../img/icons/database.png") no-repeat 2px 3px;
}

.select-type-1 .qb-ui-tree-selects-select {
    background: url("../../img/icons/database_connect.png") no-repeat 2px 3px;
}

.select-type-2 .qb-ui-tree-selects-select {
    background: url("../../img/icons/database_table.png") no-repeat 2px 3px;
}

.qb-ui-tree-separator {
    border-top: 1px solid #BBBBBB;
    margin-top: 2px;
    padding-top: 2px;
}

.qb-ui-tree {
    font-size: 10px;
    margin-top: 4px;
}

.qb-ui-tree li.lined {
    background: url(../../img/TreeView/treeview-default-line.gif) 0 0 no-repeat;
}

.qb-ui-tree, .qb-ui-tree ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.qb-ui-tree ul {

    margin: 0 0 0 0 !important;
}

.qb-ui-tree .hitarea {
    background: url(../../img/TreeView/treeview-default.gif) -64px -25px no-repeat;
    display: inline;
    height: 16px;
    width: 16px;
    margin-left: -16px;
    float: left;
    cursor: pointer;
}

html .hitarea {
    display: inline;
    float: none;
}

.qb-ui-tree li {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 16px !important;
}

.qb-ui-tree li {
    background: url(../../img/TreeView/treeview-default-line.gif) 0 0 no-repeat;
}

.qb-ui-tree li.collapsable, .qb-ui-tree li.expandable {
    background-position: 0 -176px;
}

.qb-ui-tree .expandable-hitarea {
    background-position: -80px -3px;
}

.qb-ui-tree li.last.collapsable, .qb-ui-tree li.last.expandable {
    background-image: url(../../img/TreeView/treeview-default.gif);
}

.qb-ui-tree li.last.collapsable {
    background-position: 0 -111px
}

.qb-ui-tree  li.last {
    background-position: 0 -1766px;
}

.qb-ui-tree li.last .hitarea {
    background-position: 0 -111px
}

.qb-ui-tree li.last.expandable {
    background-position: -32px -67px
}

.qb-ui-tree div.last.collapsable-hitarea, .qb-ui-tree div.last.expandable-hitarea {
    background-position: 0;
}

.qb-ui-tree li {
    padding: 3px 0 2px 16px;
    display: block;
}

.qb-ui-tree span.folder,
.qb-ui-tree span.file,
.qb-ui-tree span.table,
.qb-ui-tree span.field,
.qb-ui-tree-field-helper {

    display: inline-block;
    padding: 0 0 0 18px !important;
    height: 16px;
    border-bottom-width: 1px;
    border-top-width: 1px;
}

.qb-ui-tree span.folder {
    background: url(../../img/TreeView/folder.gif) 0 0 no-repeat;
}

.qb-ui-tree span.file {
    background: url(../../img/TreeView/file.gif) 0 0 no-repeat;
}

.qb-ui-tree span.table, .qb-ui-tree li.expandable span.table {
    background: url(../../img/icons/table.gif) 0 0 no-repeat;
    width: 10px;
}

.qb-ui-tree span.field, .qb-ui-tree-field-helper {
    background: url(../../img/icons/field.png) 0 0 no-repeat;
}

.qb-ui-tree-field-helper {
    cursor: pointer;
    font-size: 10px;
    font-family: Verdana, Arial, sans-serif;
    z-index: 2000;
}

.jPag-pages li {
    background: none;
}

.jPag-first {
    display: none;
}

.jPag-last {
    display: none;
}

.jPaginate {
    height: 24px;
}

.jPag-pages {
    height: 22px;
}

#qb-ui-tree-item-loading-overlay {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#qb-ui-tree-item-loading-overlay-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

#qb-ui-tree-item-loading-overlay-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 500px;
    text-align: center;
    color: Black;
    overflow: hidden;
    font-size: 16pt;
    font-weight: bold;
}

.qb-ui-tree-structure, .qb-ui-tree-structure ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.qb-ui-tree-structure ul {
    margin: 0 0 0 0 !important;
}

.qb-ui-tree-structure li {
    background: url(../../img/TreeView/treeview-default-line.gif) 0 0 no-repeat;
}

.qb-ui-tree-structure li.last.collapsable, .qb-ui-tree-structure li.last.expandable {
    background-image: url(../../img/TreeView/treeview-default.gif);
}

.qb-ui-tree-structure li.last.collapsable {
    background-position: 0 -111px
}

.qb-ui-tree-structure  li.last {
    background-position: 0 -1766px;
}

.qb-ui-tree-structure li.last.expandable {
    background-position: -32px -67px
}

.qb-ui-tree-structure div.last.collapsable-hitarea, .qb-ui-tree-structure div.last.expandable-hitarea {
    background-position: 0;
}

.qb-ui-tree-structure li {
    padding: 3px 0 2px 16px;
    display: block;
}

.qb-ui-tree-structure span.folder,
.qb-ui-tree-structure span.DatasourceGroup {
    background: url(../../img/TreeView/folder.gif) 0 0 no-repeat;
}

.qb-ui-tree-structure span.table {
    background: url(../../img/icons/table.gif) 0 0 no-repeat;
    width: 10px;
}
