﻿.modPopUpCheckBoxTable
        {
            border: 0px;
            text-align: left;
            margin-bottom: 6px;
            width: 100%;
            position: relative;
            left: -3px;
            top: 2px;
            background: none;
        }
div.comboselectbox div.combowrap div.comboRepeater > div.comboHeader
{
background: none;
margin-bottom: 4px;
border: none;
text-align:left;
}
div.comboselectbox div.combowrap div.comboRepeater >div a.add {
background-image: url(../css/images/icons/dark/plus2.png);
float: right;
display: block;
width: 10px;
height: 10px;
padding-top:6px;
padding-right:3px;
text-indent: -9999px;
background-position: center center;
background-repeat: no-repeat;
cursor: pointer;
}




div.comboselectbox div.comboselectbuttons{
max-width:9%;
height:99%;
width:30px;
float:left;
padding:0 3px;
}
.comboRepeater {
overflow: auto;
margin-bottom: 18px;
line-height: 18px;
font-size: 12px;
height: 100%;

}
        div.comboselectbox div.combowrap
{
    border-color: #FFFFFF #E7E7E7 #CCCCCC #E7E7E7;
    background-image: url(images/paper_02.png);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
        div.comboselectbox{
display:block;
clear:both;
min-height:100px;
}
        .DbConnRightDiv{float:left;width:65%;margin-top:5px;cursor:default}
        .clear {
clear:both;
display:block;
overflow:hidden;
visibility:hidden;
width:0;
height:0;
}
table
{
  
  background-image:none;
}

table{
width:100%;
border-collapse:collapse;
margin-bottom:18px;
}

table td, table th{
border:0px solid;
padding:6px 3px;
text-align:left;
border-color: #dddddd #e7e7e7 #dddddd #e7e7e7;
}
table th{
font-weight:700;
}
div.chart .legend table{
border:0;
width:auto;
}
div.chart{
max-width:100%;
margin-bottom:18px;
}
div.chart .legend table td{
vertical-align:middle;
text-align:center;
}
div.chart .legend table td.legendColorBox{
opacity:0.6;
filter:Alpha(opacity=60);
}

table.documentation{
}

table.documentation th, table.documentation td{
text-align:left;
}




.repeaterLink1
{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #AAAAAA;
    font-size: 9px;
    height: 22px;
    line-height: 22px; /*margin: -4px -4px -4px 0;*/
    display: inline-block;
    font-family: "Tahoma" ,sans-serif;
    font-weight: bold;
    padding: 0 14px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    
}

.repeaterLink2
{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #AAAAAA;
    font-size: 9px;
    height: 22px;
    line-height: 22px; /*margin: -4px -4px -4px 0;*/
    display: inline-block;
    font-family: "Tahoma" ,sans-serif;
    font-weight: bold;
    padding: 0 14px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    
}
.nocursor { cursor: default ; }


/*----------------------------------------------------------------------*/
/* Header
/*----------------------------------------------------------------------*/

/*not loginLogo added on 6/10/2012*/
header:not(#loginLogo){
position:relative;
border-top:1px solid;
z-index:10;
-webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px;
-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px;
	
}
/*loginLogo added on 6/10/2012*/
header#loginLogo{
position:relative;
    
z-index:10;
-webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px;
-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px;
top:-20px;
}
#logo{
height:24px;
/*padding:21px 0 17px 15px;*/
padding:26px 0 17px 15px;
width:224px;
border:0;
-webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px;
background:url(../images/mFicientLogo150x75.png) left center no-repeat;
     
}
/*loginLogo added on 6/10/2012*/
header#loginLogo #logo /*6/10/2012*/
{
height:24px;
/*padding:21px 0 17px 15px;*/
padding:26px 0 17px 15px;
/*width:332px;*/
width:95%;
border:0;
-webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; border-top-left-radius:4px;
background:url(../images/mFicientLogo150x75.png) center center no-repeat;
}
#logo, #logo a{
font-weight:700;
font-size:20px;
text-decoration:none;
text-indent:-99999px;
}
#logo a{
}
#header{
height:60px;
position:absolute;
top:0;
left:240px;
right:0;
border:0;
-webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; border-top-right-radius:4px;
}

.DbConnLeftDiv{float:left;padding-top:5px;width:35%;margin-top:5px;cursor:default}
.DbConnLeftDiv1{float:left;padding-top:5px;width:30%;margin-top:5px;cursor:default}
.DbCmdRow{width:100%;float:left}
.modalPopUpDetHeaderDiv{border-bottom:1px solid #ccc;float:left;width:98%;cursor:default;padding:5px;padding-bottom:5px;}
        .SubProcborderDiv{margin-top:26px;width:100%;float:left;clear:both;border-top:solid 1px #e0e0e0; padding-bottom:7px;}
        .SubProcBtnDiv{float:left;margin-top:15px; width:100%}
        .MenuLeftDiv{float:left;padding-top:3px;width:30%;margin-top:5px;cursor:default}
        .modalPopUpDetHeader{color:#6F6F6F;text-shadow:0 -1px 0 #FFF;font-size:13px;font-style:normal;font-weight:700;float:left}
        .InputStyle{
	width:99%;
	border:1px solid;
	padding:4px 2px;
	padding-bottom:4px;

	margin:0 1px;
	border-color: #bbbbbb;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-color: #ffffff;
}
      .repeaterItem{background-color:#FDFDFD;cursor:pointer;}
.MenuCategory1{float:left;margin-top:10px;width:120px}
.MenuCategory2{float:left;margin-left:10px;margin-top:5px;min-width:30px}
.MenuCategory3{float:right;margin-top:10px}
.MenuCategory4{overflow-y:auto;margin-top:5px;width:auto;min-width:470px;overflow-x:auto;border:solid 1px #bbb;max-height:200px}
.MenuCategory7{float:right;margin-right:5px;margin-left:10px;margin-top:10px;padding-top:3px;min-width:30px;cursor:default}
.MenuCenterDiv{float:left;padding-top:5px;margin-top:5px;margin-right:5px}
.MenuLeftIconDiv{float:left;padding-top:5px;width:5%;margin-top:5px}
.MenuRightDiv{float:left;width:60%;margin-top:5px}
.MenuIcon{cursor:pointer;height:16px;width:16px;margin-top:3px}
.lblPubApp{font-weight:700;text-align:left;}
.repeaterTable1,.repeaterPopUpTable1{width:100%;border-collapse:collapse;border-spacing:0;border:0 none;font:inherit;margin:0; padding-left:5px;}
.repeaterTable
{
    /*width: 100%;     border-collapse: collapse;     border-spacing: 0;     border: 0 none;     font: inherit;     margin: 0;     padding: 0;     vertical-align: baseline;     word-wrap: break-word;*/ /*float:left;*/
    width: 99%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
    font: inherit;
    margin: 6px 0px 5px 4px;
    padding: 0;
    vertical-align: baseline;
    word-wrap: break-word;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.repeaterPopUpTable{width:100%;border-collapse:collapse;border-spacing:0;border:0 none;font:inherit;vertical-align:baseline;margin:0;padding:0}
.repeaterPublishTable{width:100%;border-collapse:collapse;border-spacing:0;border:0 none;font:inherit;margin:0;padding:0;  text-align: left;}
  .test
        {
            font-weight: bold; 
            text-align:left;
            padding-left:15px;
        }
    .repeaterAlternatingItem,.repeaterOuterItem,.repeaterAlternatingOuterItem{background-color:#FAFAFA!important;cursor:pointer}

        table.modPopUpCheckBoxTable td, table.modPopUpCheckBoxTable td
        {
            border: 0px;
            text-align: justify;
            padding: 0px;
        }
        div.radio + label
        {
            position: relative;
            top: 3px;
        }
        div.singleSection .column3 div.selector
        {
            left: -4px;
        }
        .repeaterTable.havingUniformCheckBox td:not(.chkBox) > span
        {
            position: relative;
        }
        span.rptSpanHeaderText
        {
            position: relative;
            top: -2px;
            font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , 'Lucida Grande' , 'Lucida Sans' , Tahoma, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
        }
        .repeaterTable.havingUniformCheckBox td.chkBox, .repeaterTable.havingUniformCheckBox th.thChkBox
        {
            width: 30px;
        }
         
        .repeaterTable.havingUniformCheckBox td.chkBox > span, .repeaterTable.havingUniformCheckBox th.thChkBox > span
        {
            float: left;
            position: relative; /*top: 3px;*/
        }
        
        .repeaterTable tbody tr td, .repeaterTable thead tr th
{
    border-right: 1px solid #F4F4F4; /*padding: 10px 10px;*/ /*15/10/2012*/
    padding: 7px;
    position: relative;
    text-align: left;
    background-image: none;
    font-size: 12px;
}

        td.chkBox > span div.checker input, th.thChkBox > span div.checker input, td.chkBox > span div.checker, th.thChkBox > span div.checker
        {
            width: 16px;
            height: 16px;
        }
        form div .modalPopUpDetails div.singleSection fieldset section div.column3
        {
            width: 65%;
        }
        .modalPopUpDetails div.selector span
        {
            width: 270px;
        }
        #divDdlSubAdminCont .selector span
        {
            width: 200px;
        }
        #SubProcBoxAddDropDownOption,#SubProcBoxDeleteMessage,#SubProcBoxLinkParameterToCtrl,#SubProcIframe,#SubProcFormList,#SubProcForm,#SubProcWfLinkParameter,#SubProcWfList,#dialog,#SubProcWfCondition,#divModalContainer,#SubProcMenuCategory,#SubProcMenuCatIcon,#SubProcMenuicon,#SubProcDbCmdAddPara,#dialogPara,#SubProcWsdlDataType,.hide{display:none};

div.radioListCont table td
{
    border:0px !important;    
}
.h3
{
    font-size:15px;
}
.repeterCategory
{
    font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , 'Lucida Grande' , 'Lucida Sans' , Tahoma, Arial, Helvetica, sans-serif;
     font-size: 1.1em;

}


.repeterCategory1
{
    font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , 'Lucida Grande' , 'Lucida Sans' , Tahoma, Arial, Helvetica, sans-serif;
     font-size: 1.1em;
     padding-left:35px;
}

.repeaterBox-header
{
    /*background-color: #F2F2F2;     background-image: -moz-linear-gradient(center top , #EBEBEB, #E5E5E5);     border-top: 1px solid #FAFAFA;     border-top-left-radius: 3px;     border-top-right-radius: 3px;     height: 40px;     font: inherit;     margin: 0;     padding: 0;     vertical-align: baseline;     background-image: url("images/paper_02.png");*/ /*float: left;*/
    width: 100%;
    color: #444444;
    text-shadow: 0 0 1px #ffffff;
    border-bottom: 1px solid;
    border-top-color: #ffffff;
    border-bottom-color: #aaaaaa;
    background: #f1f1f1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
    background: -moz-linear-gradient(top,  #f1f1f1,  #e8e8e8);
    background: -o-linear-gradient(top,  #f1f1f1,  #e8e8e8);
    position: relative; /*font-size:14px !important;*/ /*border-top:1px solid;*/
    padding: 0px 0px 0px 0px;
    margin: 0; /*line-height:3;*/
    height: 40px;
    margin-bottom: 1px;
    font-weight: bold; /*cursor:pointer;*/ /*13/9/2012 Not required*/
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}
 .htmlRadioList
    {
    display:block;
    max-height:200px;
    overflow-y: scroll;
   }
.htmlRadioList .radio
{
    top:-4px;    
}