﻿.IdeUi-overlay-c{background-image:none;border-width:0}
.IdeUi-body-c .IdeUi-link{color:#2489ce;font-weight:700}
.IdeUi-btn-up-c{color:#222;font-weight:700;text-shadow:0 1px 0 #fff;background-image:linear-gradient(rgb(255,255,255), #f1f1f1);background-attachment:scroll;background-repeat:repeat;background-position-x:0;background-position-y:0;background-size:auto;background-origin:padding-box;background-clip:border-box;background-color:#eee;border-color:#ccc;border-style:solid;border-width:1px}
.IdeUi-btn-down-c{color:#222;font-weight:700;text-shadow:0 1px 0 #fff;background-image:linear-gradient(rgb(208,208,208), #dfdfdf);background-attachment:scroll;background-repeat:repeat;background-position-x:0;background-position-y:0;background-size:auto;background-origin:padding-box;background-clip:border-box;background-color:#d6d6d6;border-color:#bbb;border-style:solid;border-width:1px}
.IdeUi-btn-down-c:visited,.IdeUi-btn-down-c:hover,.IdeUi-btn-down-c a.IdeUi-link-inherit{color:#2f3e46}
.IdeUi-btn-up-c,.IdeUi-btn-hover-c,.IdeUi-btn-down-c{font-family:Helvetica,Arial,sans-serif;text-decoration:none}
.IdeUi-btn-active{color:#fff;font-family:Helvetica,Arial,sans-serif;font-weight:700;text-decoration:none;cursor:pointer;text-shadow:0 1px 0 #3373a5;background-image:linear-gradient(rgb(83,147,197), #6facd5);background-attachment:scroll;background-repeat:repeat;background-position-x:0;background-position-y:0;background-size:auto;background-origin:padding-box;background-clip:border-box;background-color:#5393c5;border-color:#2373a5;border-style:solid;border-width:1px}
.IdeUi-btn-inner{border-top-width:1px;border-top-style:solid;border-color:rgba(255,255,255,0.3)}
.IdeUi-corner-all{border-top-left-radius:.6em;border-top-right-radius:.6em;border-bottom-right-radius:.6em;border-bottom-left-radius:.6em}
.IdeUi-icon,.IdeUi-icon-searchfield::after{border-top-left-radius:9px;border-top-right-radius:9px;border-bottom-right-radius:9px;border-bottom-left-radius:9px;background-image:url(../images/icons-18-white.png);background-repeat:no-repeat;background-color:rgba(0,0,0,0.4)}
.IdeUi-icon-delete{background-position-x:-73px;background-position-y:-.1px}
.IdeUi-icon-checkbox-on{background-position-x:-648px;background-position-y:-1px}
.IdeUi-icon-checkbox-on-mini{background-position-x:-650px;background-position-y:-1px}
.IdeUi-icon-radio-on{background-position-x:-720px;background-position-y:0px}
.IdeUi-icon-radio-on-mini{background-position-x:-722px;background-position-y:-2px}
.IdeUi-icon-radio-off{background-position-x:-756px;background-position-y:0px}
.IdeUi-icon-radio-off-mini{background-position-x:-758px;background-position-y:-1px;background-color:transparent !important;}
.IdeUi-checkbox .IdeUi-icon,.IdeUi-selectmenu-list .IdeUi-icon{border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px}
.IdeUi-icon-checkbox-off,.IdeUi-icon-radio-off{background-color:transparent}
.IdeUi-checkbox-on .IdeUi-icon,.IdeUi-radio-on .IdeUi-icon{background-color:#4596ce}
.IdeUi-btn-corner-all{border-top-left-radius:1em!important;border-top-right-radius:1em!important;border-bottom-right-radius:1em!important;border-bottom-left-radius:1em!important}
.IdeUi-corner-all,.IdeUi-btn-corner-all{background-clip:padding-box!important}
.IdeUi-shadow{box-shadow:0 1px 3px rgba(0,0,0,0.2)}
.IdeUi-shadow-inset{box-shadow:inset 0 1px 4px rgba(0,0,0,0.2)}
.IdeUi-icon-shadow{box-shadow:0 1px 0 rgba(255,255,255,0.4)}
IdeUi-mobile,.IdeUi-mobile{height:99.9%}
.IdeUi-mobile fieldset,.IdeUi-page{margin:0;padding:0}
.IdeUi-mobile a img,.IdeUi-mobile fieldset{border-width:0}
.IdeUi-mobile-viewport{overflow-x:visible;-ms-text-size-adjust:none;margin:0}
.IdeUi-mobile [data-role=page],.IdeUi-mobile [data-role=dialog],.IdeUi-page{left:0;top:0;width:100%;display:none;position:absolute;min-height:100%;border-color:currentColor;border-style:none;border-width:0}
.IdeUi-mobile .IdeUi-page-active{overflow:visible;display:block}
.IdeUi-page{outline-width:0;outline-style:none;outline-color:invert}
.IdeUi-mobile .IdeUi-page{min-height:300px}
.IdeUi-content{overflow:visible;overflow-x:hidden;border-width:0;padding:15px}
.IdeUi-icon{width:18px;height:18px}
.IdeUi-grid-a,.IdeUi-grid-b,.IdeUi-grid-c,.IdeUi-grid-d{overflow:hidden}
.IdeUi-block-a,.IdeUi-block-b,.IdeUi-block-c,.IdeUi-block-d,.IdeUi-block-e{float:left;min-height:1px;box-sizing:border-box;border-color:currentColor;border-style:none;border-width:0;margin:0;padding:0}
.IdeUi-grid-solo .IdeUi-block-a{float:none;display:block}
.IdeUi-grid-a .IdeUi-block-a,.IdeUi-grid-a .IdeUi-block-b{width:49.95%}
.IdeUi-grid-a > :nth-child(n){width:50%;margin-right:-.5px}
.IdeUi-grid-a .IdeUi-block-a{clear:left}
.IdeUi-btn{text-align:center;display:block;position:relative;cursor:pointer;margin:.5em 0;padding:0}
.IdeUi-mini{margin-top:.25em;margin-bottom:.25em}
.IdeUi-btn-left,.IdeUi-btn-right,.IdeUi-input-clear,.IdeUi-btn-inline,.IdeUi-grid-a .IdeUi-btn,.IdeUi-grid-b .IdeUi-btn,.IdeUi-grid-c .IdeUi-btn,.IdeUi-grid-d .IdeUi-btn,.IdeUi-grid-e .IdeUi-btn,.IdeUi-grid-solo .IdeUi-btn{margin-right:5px;margin-left:5px}
.IdeUi-btn-inner{overflow:hidden;font-size:12.5px;display:block;white-space:nowrap;position:relative;zoom:1;text-overflow:ellipsis;min-width:.75em;border-top-left-radius:inherit;border-top-right-radius:inherit;border-bottom-right-radius:inherit;border-bottom-left-radius:inherit;padding:.6em 20px}
.IdeUi-btn input,.IdeUi-btn button{z-index:2}
.IdeUi-header .IdeUi-btn-inner,.IdeUi-footer .IdeUi-btn-inner,.IdeUi-mini .IdeUi-btn-inner{font-size:12.5px;padding:.55em 11px .5em}
.IdeUi-fullsize .IdeUi-btn-inner,.IdeUi-fullsize .IdeUi-btn-inner{font-size:12.5px;padding:.6em 20px}
.IdeUi-btn-icon-notext{width:24px;height:24px}
.IdeUi-btn-icon-notext .IdeUi-btn-inner{height:100%;padding:0}
.IdeUi-btn-icon-notext .IdeUi-btn-inner .IdeUi-icon{float:left;margin:2px 1px 2px 3px}
.IdeUi-btn-text{width:100%;position:relative;z-index:0;-ms-user-select:none}
.IdeUi-btn-icon-notext .IdeUi-btn-text{left:-9999px;position:absolute}
.IdeUi-btn-icon-left .IdeUi-btn-inner{padding-left:40px}
.IdeUi-btn-icon-notext .IdeUi-icon{display:block;z-index:0}
.IdeUi-btn-icon-left > .IdeUi-btn-inner > .IdeUi-icon,.IdeUi-btn-icon-right > .IdeUi-btn-inner > .IdeUi-icon{top:50%;margin-top:-9px;position:absolute}
.IdeUi-btn-icon-left .IdeUi-icon{left:10px}
.IdeUi-btn-icon-right .IdeUi-icon{right:10px; float:right;}
.IdeUi-btn-hidden{left:0;top:0;width:100%;height:100%;text-indent:-9999px;font-size:1px;position:absolute;cursor:pointer;opacity:0.1;background-image:none;background-attachment:scroll;background-repeat:repeat;background-position-x:0;background-position-y:0;background-size:auto;background-origin:padding-box;background-clip:border-box;background-color:rgba(255,255,255,0);border-color:currentColor;border-style:none;border-width:0}
.IdeUi-controlgroup,fieldset.IdeUi-controlgroup{zoom:1;margin:.5em 0;padding:0}
.IdeUi-controlgroup-label{line-height:1.4;font-size:12.5px;font-weight:700;margin:0 0 .4em}
.IdeUi-controlgroup .IdeUi-checkbox label,.IdeUi-controlgroup .IdeUi-radio label{font-size:12.5px}
.IdeUi-controlgroup-vertical .IdeUi-btn{border-bottom-width:0}
.IdeUi-controlgroup-vertical .IdeUi-last-child.IdeUi-btn{border-bottom-width:1px;border-bottom-right-radius:inherit;border-bottom-left-radius:inherit}
.IdeUi-controlgroup{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0}
.IdeUi-controlgroup .IdeUi-controlgroup-controls,.IdeUi-controlgroup .IdeUi-radio,.IdeUi-controlgroup .IdeUi-checkbox,.IdeUi-controlgroup .IdeUi-select,.IdeUi-controlgroup li{border-top-left-radius:inherit;border-top-right-radius:inherit;border-bottom-right-radius:inherit;border-bottom-left-radius:inherit}
.IdeUi-controlgroup-vertical .IdeUi-first-child.IdeUi-btn{border-top-left-radius:inherit;border-top-right-radius:inherit}
.IdeUi-checkbox,.IdeUi-radio{clear:both;position:relative;z-index:0;margin:0}
.IdeUi-checkbox .IdeUi-btn,.IdeUi-radio .IdeUi-btn{text-align:left;z-index:2}
.IdeUi-checkbox .IdeUi-btn-inner,.IdeUi-radio .IdeUi-btn-inner{white-space:normal}
.IdeUi-checkbox .IdeUi-btn-icon-left .IdeUi-btn-inner,.IdeUi-radio .IdeUi-btn-icon-left .IdeUi-btn-inner{padding-left:45px}
.IdeUi-checkbox .IdeUi-icon,.IdeUi-radio .IdeUi-icon{top:1.1em}
.IdeUi-checkbox .IdeUi-btn-icon-left .IdeUi-icon,.IdeUi-radio .IdeUi-btn-icon-left .IdeUi-icon{left:15px}
.IdeUi-checkbox input,.IdeUi-radio input{left:20px;top:50%;width:10px;height:10px;position:absolute;z-index:1;outline-width:0!important;outline-style:none!important;outline-color:invert!important;margin:-5px 0 0}
input.IdeUi-input-text,textarea.IdeUi-input-text{width:100%;line-height:1.4em;font-size:12.5px;display:block;min-height:1.7em;outline-width:0;outline-style:none;outline-color:invert;background-image:none;margin:.5em 0;padding:.4em}
div.IdeUi-input-text input.IdeUi-input-text,div.IdeUi-input-text textarea.IdeUi-input-text,.IdeUi-input-search input.IdeUi-input-text{width:100%;display:block;outline-width:0!important;outline-style:none!important;outline-color:invert!important;background-image:none;background-attachment:scroll;background-repeat:repeat;background-position-x:0;background-position-y:0;background-size:auto;background-origin:padding-box;background-clip:border-box;background-color:transparent;border-color:currentColor;border-style:none;border-width:0;margin:0;padding:.4em 0}
.IdeUi-input-search,div.IdeUi-input-text{position:relative;background-image:none;margin:.5em 0}
.IdeUi-input{border-radius : 2px;}
div.IdeUi-input-text{padding:0 .4em}
div.IdeUi-input-has-clear{padding:0 0 0 .4em}
.IdeUi-input-search .IdeUi-input-clear,.IdeUi-input-text .IdeUi-input-clear{top:50%;right:0;margin-top:-13px;position:absolute}
.IdeUi-input-search .IdeUi-input-clear-hidden,.IdeUi-input-text .IdeUi-input-clear-hidden{display:none}
.IdeUi-hide-label input.IdeUi-input-text,.IdeUi-hide-label textarea.IdeUi-input-text,.IdeUi-hide-label .IdeUi-input-search,.IdeUi-hide-label div.IdeUi-input-text,.IdeUi-input-search input.IdeUi-input-text,div.IdeUi-input-text input.IdeUi-input-text{width:100%}
label.IdeUi-slider{line-height:1.4;font-size:12.5px;font-weight:700;display:block;margin:0}
div.IdeUi-slider{height:30px;zoom:1;margin:.5em 0}
div.IdeUi-mini.IdeUi-slider{margin:.25em 0}
div.IdeUi-slider::before,div.IdeUi-slider::after{display:table;content:""}
div.IdeUi-slider::after{clear:both}
input.IdeUi-slider-input.IdeUi-input-text{width:40px;height:22px;text-align:center;line-height:22px;font-size:12.5px;font-weight:700;vertical-align:text-bottom;float:left;display:block;outline-width:0;outline-style:none;outline-color:invert;box-sizing:content-box;background-image:none;border-width:0;margin:0;padding:4px}
.IdeUi-controlgroup .IdeUi-btn,.IdeUi-controlgroup .IdeUi-checkbox .IdeUi-btn,.IdeUi-controlgroup .IdeUi-radio .IdeUi-btn{margin:0}
.IdeUi-slider-track,.IdeUi-slider-switch{top:6px;height:15px;overflow:visible;position:relative;margin:0 15px 0 68px}
.IdeUi-slider-bg{height:100%;border-color:currentColor;border-style:none;border-width:0}
.IdeUi-slider-track .IdeUi-slider-handle.IdeUi-btn,.IdeUi-slider-switch .IdeUi-slider-handle.IdeUi-btn{top:50%;width:28px;height:28px;position:absolute;z-index:0;outline-width:0;outline-style:none;outline-color:invert;margin:-15px 0 0 -15px}
.IdeUi-slider-handle .IdeUi-btn-inner{height:100%;padding:0}
select.IdeUi-slider-switch{display:none}
div.IdeUi-slider-switch{top:0;width:5.2em;min-width:5em;height:25px;display:inline-block;margin:.5em 0}
div.IdeUi-slider-switch::before,div.IdeUi-slider-switch::after{clear:none;display:none}
div.IdeUi-mini.IdeUi-slider-switch{top:0;width:5em;height:29px;margin:.25em 0}
.IdeUi-slider-inneroffset{position:relative;z-index:0;margin:0 16px}
.IdeUi-mini.IdeUi-slider-switch .IdeUi-slider-inneroffset{margin:0 15px 0 14px}
.IdeUi-slider-switch .IdeUi-slider-handle.IdeUi-btn{margin:1px 0 0 -15px}
.IdeUi-mini.IdeUi-slider-switch .IdeUi-slider-handle{width:25px;height:25px;margin:1px 0 0 -13px;padding:0}
.IdeUi-mini.IdeUi-slider-switch .IdeUi-slider-handle .IdeUi-btn-inner{width:30px;height:30px;border-top-color:currentColor;border-top-width:0;border-top-style:none;margin:0;padding:0}
.IdeUi-slider-switch .IdeUi-slider-label{top:0;width:100%;text-align:center;overflow:hidden;white-space:nowrap;position:absolute;cursor:pointer;border-width:0}
.IdeUi-mini.IdeUi-slider-switch .IdeUi-slider-label{font-size:12.5px}
.IdeUi-slider-switch .IdeUi-slider-label-a{left:0;text-indent:-1.5em;z-index:0}
.IdeUi-slider-switch .IdeUi-slider-label-b{right:0;text-indent:1.5em;z-index:0}
.IdeUi-grid-a > .left-67.IdeUi-block-a{width:66.7%}
.IdeUi-grid-a > .right-33.IdeUi-block-b{width:33.3%}
.IdeUi-grid-a > .left-80.IdeUi-block-a{width:79.9%}
.IdeUi-grid-a > .right-20.IdeUi-block-b{width:20.1%}
.IdeUi-block-a,.IdeUi-block-b,.IdeUi-block-c,.IdeUi-block-d,.IdeUi-block-e{padding:8px 5px}
fieldset:nth-child(n){zoom:1;margin:.5em 0;padding:0}
fieldset[id^=IDEBCODE_] div[class=IdeUi-grid-a] div[class^=IdeUi-block-b] div[class^=IdeUi-btn] span[class^=IdeUi-btn-inner]{padding:0}
fieldset[id^=IDETGL_] div[class=IdeUi-grid-a] div[class^=IdeUi-block-a] label{font-weight:700;padding:8px 0 0}
fieldset[id^=IDETGL_] div[class=IdeUi-grid-a] div[class^=IdeUi-block-b] div[class^=IdeUi-slider]{float:right}
fieldset[id^=IDETGL_] div[class=IdeUi-grid-a] div[class^=IdeUi-block-b] div[class^=IdeUi-slider] div[class=IdeUi-slider-inneroffset]{float:none}
div[id^=map_canvas]{height:100px}
fieldset div legend{font-weight:700}
fieldset[id^=IDESLD] legend{font-weight:700;font-size:12.5px;margin-bottom:.5em}
fieldset[id^=IDEBCODE] legend{font-weight:700!important;font-size:12.5px!important}
.IdeUi-select{display:block;position:relative}
.IdeUi-select select{left:-9999px;top:-9999px;position:absolute}
.IdeUi-select .IdeUi-btn{opacity:1}
.IdeUi-select .IdeUi-btn select{left:0;top:0;width:100%;height:3em;z-index:2;cursor:pointer;min-height:100%;max-height:100%;opacity:0}
.IdeUi-select .IdeUi-btn-icon-right .IdeUi-btn-inner,.IdeUi-select .IdeUi-li-has-count .IdeUi-btn-inner{padding-right:45px}
.IdeUi-select .IdeUi-btn-icon-right .IdeUi-icon{right:15px}
.IdeUi-select .IdeUi-btn-text,.IdeUi-selectmenu .IdeUi-btn-text{overflow:hidden!important;display:block;min-height:1em}
.IdeUi-select .IdeUi-btn-text{text-overflow:ellipsis}
.IdeUi-icon-arrow-d{background-position-x:-216px;background-position-y:0px}
.IdeUi-icon-arrow-d-mini{background-position-x:-217px;background-position-y:-1px}
.Checkbox-Icon{top:50%;margin-top:-6px;position:absolute}
.Ctrl_Width96{width:96%}
.Ctrl_Head_Width{height:19px}
.Ctrl_Head_pad{padding-top:5px!important}
.Ctrl_Head_padBottom{padding-bottom:10px!important}
.Ctrl_Label{font-weight:700;font-size:12.5px;color:#000!important}
.Ctrl_Height{height:21.3px!important;font-size:12.5px!important;padding:5px 0!important; line-height :21.8px;}
fieldset[id^=IDEBCODE_] div[class=IdeUi-grid-a] div[class^=IdeUi-block-a],fieldset[id^=IDETGL_] div[class=IdeUi-grid-a] div[class^=IdeUi-block-a]{float:left;padding:0 5px 0 0}
fieldset[id^=IDEBCODE_] div[class=IdeUi-grid-a] div[class^=IdeUi-block-b],fieldset[id^=IDETGL_] div[class=IdeUi-grid-a] div[class^=IdeUi-block-b]{padding:0 0 0 5px}
fieldset[id^=IDETXT] legend,fieldset[id^=DTP] legend{font-weight:700;margin-bottom:.5em}
.Ctrl_Toggle{color:#222;font-weight:700;border:none;text-shadow:0 1px 0 #fff;background-attachment:scroll;background-repeat:repeat;background-position-x:0;background-position-y:0;background-size:auto;background-origin:padding-box;background-clip:border-box}
#deleteOuterContDiv{position:absolute;float:right}
#deleteOuterDiv{padding:0}
.WfRowDiv_Drop:empty{border:dashed 1px #dedede!important}
.Ctrl_BCD_pad{padding-top:2px!important;padding-bottom:2px!important}
.Ctrl_CHK_pad{padding-top:10px!important;padding-bottom:10px!important;margin:0!important}

.IdeUi-controlgroup-horizontal .IdeUi-controlgroup-controls:before,
.IdeUi-controlgroup-horizontal .IdeUi-controlgroup-controls:after { content: ""; display: table; }
.IdeUi-controlgroup-horizontal .IdeUi-controlgroup-controls:after { clear: both; }
.IdeUi-controlgroup-horizontal .IdeUi-controlgroup-controls { display: inline-block; vertical-align: middle; zoom: 1; }
.IdeUi-controlgroup-horizontal .IdeUi-btn-inner { text-align: center; }
.IdeUi-controlgroup-horizontal.IdeUi-mini .IdeUi-btn-inner { height: 16px; line-height: 16px; }
.IdeUi-controlgroup-horizontal .IdeUi-btn, .IdeUi-controlgroup-horizontal .IdeUi-select,
.IdeUi-controlgroup-horizontal .IdeUi-checkbox, .IdeUi-controlgroup-horizontal .IdeUi-radio { float: left; clear: none; margin: 0 -1px 0 0; }
.IdeUi-controlgroup-horizontal .IdeUi-select .IdeUi-btn,
.IdeUi-controlgroup-horizontal .IdeUi-checkbox .IdeUi-btn, .IdeUi-controlgroup-horizontal .IdeUi-radio .IdeUi-btn { float: none; margin: 0; }
.IdeUi-controlgroup-horizontal .IdeUi-controlgroup-last, .IdeUi-controlgroup-horizontal .IdeUi-select:last-child,
.IdeUi-controlgroup-horizontal .IdeUi-checkbox:last-child, .IdeUi-controlgroup-horizontal .IdeUi-radio:last-child { margin-right: 0; }
/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/
.IdeUi-corner-tl {
	-moz-border-radius-topleft: 		.6em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 	.6em /*{global-radii-blocks}*/;
	border-top-left-radius: 			.6em /*{global-radii-blocks}*/;
}
.IdeUi-corner-tr {
	-moz-border-radius-topright: 		.6em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 	.6em /*{global-radii-blocks}*/;
	border-top-right-radius: 			.6em /*{global-radii-blocks}*/;
}
.IdeUi-corner-bl {
	-moz-border-radius-bottomleft: 		.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 	.6em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 			.6em /*{global-radii-blocks}*/;
}
.IdeUi-corner-br {
	-moz-border-radius-bottomright: 	.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 		.6em /*{global-radii-blocks}*/;
}
.IdeUi-corner-top {
	-moz-border-radius-topleft: 		.6em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 	.6em /*{global-radii-blocks}*/;
	border-top-left-radius: 			.6em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: 		.6em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 	.6em /*{global-radii-blocks}*/;
	border-top-right-radius: 			.6em /*{global-radii-blocks}*/;
}
.IdeUi-corner-bottom {
	-moz-border-radius-bottomleft: 		.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 	.6em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 			.6em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 	.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 		.6em /*{global-radii-blocks}*/;
	}
.IdeUi-corner-right {
	-moz-border-radius-topright: 		.6em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 	.6em /*{global-radii-blocks}*/;
	border-top-right-radius: 			.6em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 	.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: .6em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 		.6em /*{global-radii-blocks}*/;
}
.IdeUi-corner-left {
	-moz-border-radius-topleft: 		.6em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 	.6em /*{global-radii-blocks}*/;
	border-top-left-radius: 			.6em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: 		.6em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 	.6em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 			.6em /*{global-radii-blocks}*/;
}

.IdeUi-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

