﻿body {
}

#pageContent 
{
     width: 100%; 
     min-height: 600px;
     min-width: 982px; 
     border: 1px solid #D8D5D5;
     margin: 0;
}

#appsDiv
{
    min-width: 150px; 
    width: 15.52%; 
    float: left; 
    min-height: 600px;
    border-right: 1px solid #D8D5D5;
}

#filesCanvasdiv
{
     width: 69%;
     min-height: 600px; 
     float: left;
}

#fileMenuDiv
{
     width: 100%; 
     min-height: 35px;
     border-bottom: 1px solid #D8D5D5;
}

#menu
{
     width: 40%;
     float: right;
     vertical-align: middle;
     position: relative;
     padding: 3.5px;
     height: 100%;
}

.menuDiv
{
    width:15%;
    float:right;
    font-size:small;
    text-align:center;
    position: relative;
    vertical-align: middle;
    padding: 5px;
    border-left: 1px solid #D8D5D5;
}

.txtFilePath
{
    border-radius : 3px;
    border-color : Gray;
    border:.5px solid #D8D5D5;
    height:20px;
    width:95%;
    margin-top:3px;
}

.hide
{
    display:none;    
}

#lstAppFiles
{
  list-style: none;
  max-height: 570px;
  height: 560px;
  overflow-y:auto;
  overflow-x:hidden;
  cursor:pointer;
  padding:0px;
  margin:2px 2px;  
}

.parent
{
    min-height :30px;
    height:auto;
    width:95%;
    position: static;
    padding-left:20px;
    margin:0px;
}

#divTab
{
    height:550px;
    border-radius:0;   
}

li.collapsed
{
    background : url(/images/Html5App/directory.png) left top no-repeat;  
}

li.expanded
{
    background : url(/images/Html5App/folder_open.png) left top no-repeat;   
}

li.htmlfile
{
    background : url(/images/Html5App/html.png) left top no-repeat;   
}

li.imagefile
{
    background : url(/images/Html5App/picture.png) left top no-repeat;   
}

li.jsfile
{
    background : url(/images/Html5App/script.png) left top no-repeat;   
}

li.textfile
{
    background : url(/images/Html5App/txt.png) left top no-repeat;  
}

li.cssfile
{
    background : url(/images/Html5App/css.png) left top no-repeat;   
}

li.xmlfile
{
    background : url(/images/Html5App/XMLFileHS.png) left top no-repeat;  
}

ul.child li
{
    min-height :30px;
    max-height:30px;
    min-width:90%;
    max-width:92%;
    padding-left : 20px;
}

#filePropDiv
{
     float: left;
     width: 24.64%;
     border-right: 1px solid #D8D5D5;
     max-height:600px;   
}

#canvasDiv
{
     float: left;
     width: 75.158%;
     height:600px;
     min-height:600px;   
}
.ui-tabs
{
    position: relative;
    padding: .2em;
    zoom: 1;
}

#propertiesDiv table tr td
{
     border:1px solid #D8D5D5;
     width:50%;
     height:40px; 
     vertical-align:middle;
     text-align:left;
}

.button
{
    height:30px;
    border-radius:4px; 
    border:1px solid #D8D5D5; 
    text-align:center;
    margin-left:4px;
    font-family:"Tahoma" ,Sans-Serif;
    text-transform:none;
    margin-top:9px;
}

div.radioButtonList
{
    padding:1px;
}

.ButtonStyle
{
    padding : 7px 6px;    
}

#dragandDrop
{
  border:1px dotted #000000;
  height: 200px;
  margin:20px 20px;
  text-align:center;
  vertical-align:middle;
  line-height:200px;
  opacity:.4;
  font-size:large;
}

#lstAppFiles li a:hover
{
    background-color : #D8D5D5;  
    
}

#lstAppFiles li a:visited
{
    background-color : #D8D5D5;  
}

#lstAppFiles li:selected
{
    background-color : #D8D5D5;  
}

ul.child li a:hover
{
    background-color : #D8D5D5;
}

ul.child li a:visited
{
    background-color : #D8D5D5;
}

ul.child li:selected
{
    background-color : #D8D5D5;
}

.propTextbox
{
    border-radius : 4px;
    border-color : #D8D5D5;  
    margin-left:2px;
    border : 1px solid #D8D5D5; 
}