﻿body
{
    margin: 0px;
    min-width: 1150px;
    max-width : 100%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.Sizer
{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
        
.Expander
{
    margin: 5px .5%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
    webkit-box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 0 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
}
#footer
{
    margin-left:.5%;
    margin-right:.5%;
    position: relative;
    text-align: left;
    margin-top: 5px; 
    margin-bottom: 2px; 
    font-size: 11px;
    color: #B2B2B2;
}
.navHeader
{
    width: 100%;
    height: 32px;
    font-family:  Segoe UI,Arial,Sans-Serif;
    font-size: 12px;
    text-decoration: none solid rbg(76 96 122);
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
    background: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
    background: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
    background: linear-gradient(#f6f6f6  , #f1f1f1  ); /* Standard syntax (must be last) */
    border-left: 1px solid #ededed;
}
#content
{
    min-height: 600px;
}
.Logo
{
    margin-right: 10px;
    float:right;
}

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
}    
.rightarrowclass{
    position: absolute;
    top: 6px;
    right: 5px;
}
.waitModal {
display:    none;
position:   fixed;
z-index:    1000;
top:        0;
left:       0;
height:     100%;
width:      100%;
background: rgba( 255, 255, 255, .8 )
url('../css/images/icons/light/ajax-loader.gif') 
50% 50% 
no-repeat;  
}

.repeaterBox
{
    /*background: none repeat scroll 0 0 #FAFAFA;     border-radius: 3px 3px 3px 3px;     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);     margin-bottom: 16px;     border: 0 none;     font: inherit;     padding: 0;     vertical-align: baseline;     background-image: url("images/paper_02.png");*/ /*float:left;*/
    width: 100%;
    border: 1px solid;
    font: inherit;
    padding: 0;
    vertical-align: baseline;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    border-color: #dddddd #efefef #f1f1f1 #efefef;
    background-image: url(images/paper_02.png);
    margin-bottom: 15px;
    background-color: #f6f6f6;
    background-image: url(images/paper_02.png);
}

.repeaterLink
{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #AAAAAA;
    font-size: 9px;
    height: 22px;
    line-height: 22px; /*margin: -4px -4px -4px 0;*/
    display: inline-block;
    font-family: "Tahoma" ,sans-serif;
    font-weight: bold;
    padding: 0 14px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}


.repeaterBox:hover
{
    border-color: #cccccc;
}
.repeaterBox-header
{
    /*background-color: #F2F2F2;     background-image: -moz-linear-gradient(center top , #EBEBEB, #E5E5E5);     border-top: 1px solid #FAFAFA;     border-top-left-radius: 3px;     border-top-right-radius: 3px;     height: 40px;     font: inherit;     margin: 0;     padding: 0;     vertical-align: baseline;     background-image: url("images/paper_02.png");*/ /*float: left;*/
    width: 100%;
    color: #444444;
    text-shadow: 0 0 1px #ffffff;
    border-bottom: 1px solid;
    border-top-color: #ffffff;
    border-bottom-color: #aaaaaa;
    background: #f1f1f1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e8e8e8');
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e8e8e8));
    background: -moz-linear-gradient(top,  #f1f1f1,  #e8e8e8);
    background: -o-linear-gradient(top,  #f1f1f1,  #e8e8e8);
    position: relative; /*font-size:14px !important;*/ /*border-top:1px solid;*/
    padding: 0px 0px 0px 0px;
    margin: 0; /*line-height:3;*/
    height: 40px;
    margin-bottom: 1px;
    font-weight: bold; /*cursor:pointer;*/ /*13/9/2012 Not required*/
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}


.nav {
	margin: 0;
	padding: 5px 2px 3px;
	/*background: #868484 url(../images/gradient.png) repeat-x 0 -110px;*/
	line-height: 100%;
    /*background: #666 url(../images/gradient.png) repeat-x 0 -110px;*/
    background: #666 url(../images/gradient.png) repeat-x 0 -40px;
    border-radius: .5em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
    font-family: Segoe UI,Arial,Sans-Serif;
    font-size: 12px;
    /*color: #444;
	text-shadow: 0 1px 0 rgba(255,255,255, 1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);*/
}
.nav li {
	margin: 0 5px;
	padding: 0 0 3px;
	float: left;
	position: relative;
	list-style: none;
}


/* main level link */
.nav a {
	font-weight: bold;
	/*color: #e7e5e5;*/
	color: #444;
	text-decoration: none;
	display: block;
	padding: 4px 8px 6px;
	margin: 0;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.70);
	/*text-shadow: 0 1px 1px rgba(0,0,0, .3);*/
	/*text-shadow: 0 1px 0 rgba(255,255,255, 1);*/
}
.nav a:hover {
	background: #000;
	color: #fff;
}

/* main level link hover */
.nav .current a, .nav li:hover > a {
	
	background: #BBBBBB;
    color: #616161;
	text-shadow:none !important;
	/*background: #666 url(../images/gradient.png) repeat-x 0 -40px;
	color: #444;*/
	/*color: #e7e5e5;*/
	/*border-top: solid 1px #f8f8f8;*/

	/*-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	box-shadow: 0 1px 3px rgba(0,0,0, .4);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);*/
}

/* sub levels link hover */
.nav ul li:hover a , .nav li:hover li a{
	background: none;
	border: none;
	color: #666;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.nav ul a:hover {
	background: #0078ff url(../images/gradient.png) repeat-x 0 -100px !important;
	color: #fff !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
.nav li:hover > ul {
	display: block;
}

/* level 2 list */
.nav ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 100px;
	position: absolute;
	top: 25px;
	left: 0;
	background: #ddd url(../images/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
	z-index :99;
	
}
.nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

.nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
.nav ul ul {
	left: 101px;
	top: -1px;
}

/* rounded corners of first and last link */
.nav ul li:first-child > a {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;

	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright: 5px;
	
	border-radius-topright: 5px;
	border-radius-topleft: 5px;
}
.nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;

	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	
	border-radius-bottomleft: 5px;
	border-radius-bottomright: 5px;
}

/* clearfix */
.nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.nav {
	display: inline-block;
} 
html[xmlns] .nav {
	display: block;
}
 
* html .nav {
	height: 1%;
}
tr.highlightBold td {
    font-weight: bold;
}
tr.highlightBold td span {
    font-weight: bold;
}
/*.formMenu .nav 
{
    padding: 0px;
    border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
.formMenu .nav a {
	font-weight: 700;
	padding: 1px 8px 1px;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.70);
	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}   
.formMenu .nav ul {
	top: 19px;
}
.formMenu .nav ul a {
	padding: 4px 8px 6px !important;
} 
.formMenu .nav ul li:first-child > a {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft:3px;

	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
}
.formMenu .nav ul li:last-child > a {
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;

	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
}*/
.formMenu .nav 
{
    border-radius: 0.1em !important;
	-webkit-border-radius: 0.1em !important;
	-moz-border-radius: 0.1em !important;
}  
  
.sousMenu:hover ul
{
    display:inherit;
   
}
.sousMenu ul
{
    top: 40px;
    display: none;
    list-style-type: none;
}