﻿body {margin:0; padding:0; font:normal 12px Arial, Helvetica, sans-serif ;min-width:1002px;
       background-color: #FFFFFF;
    background-image: url("../images/paper_02.png");
}

.MainContent {
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width:100%;
    }
    
 #MainMasterBox 
 {
     width:1002px;
	z-index:60;
	margin-top:15px;
	 background-color: #EEEEEE;
    background-image: url("../images/paper_01.png");
    min-height:700px;
	}
.Sizer {
	margin:0 auto; 
	max-width:0; 
	padding:0; 
	width:0%;
	}
.Expander {
	margin-left:-501px; 
	min-width:1002px; 
	position:relative;
	}	
.MasterMain {
	width:982px;
	float:left;
	margin-left:10px;
	}
.MasterCanvas{
	width:972px;
	float:left;
	padding : 0px 0px 0px 10px;
	overflow:auto;
	
	}
