﻿<%@ Page Title="" Language="C#" MasterPageFile="~/master/Canvas.Master" AutoEventWireup="true"
    CodeBehind="ManageCpReseller.aspx.cs" Inherits="mFicientAdmin.ManageCpReseller" %>

<asp:Content ID="Content1" ContentPlaceHolderID="PageHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="PageCanvas" runat="server">
    <div id="PageCanvasContent">
        <section>
            <div id="divRepeater">
                <asp:UpdatePanel ID="upd" runat="server">
                    <ContentTemplate>
                        <section>
                            <div id="divInformation">
                            </div>
                        </section>
                        <section>
                            <asp:Panel ID="pnlRepeaterBox" CssClass="repeaterBox" runat="server">
                                <section>
                                    <asp:Panel ID="pnlRepeaterBoxHeader" CssClass="repeaterBox-header" runat="server">
                                        <div>
                                            <asp:Label ID="lblHeaderInfo" runat="server" Text="<h1>RESELLER DETAILS</h1>"></asp:Label>
                                        </div>
                                        <div style="position: relative; top: 10px; right: 15px;">
                                            <asp:LinkButton ID="lnkAddNewMobileUser" runat="server" Text="add" CssClass="repeaterLink fr"
                                                OnClick="lnkAddNewMobileUser_Click"></asp:LinkButton>
                                        </div>
                                    </asp:Panel>
                                </section>
                                <asp:Repeater ID="rptUserDetails" runat="server" OnItemCommand="rptUserDetails_ItemCommand"
                                    OnItemDataBound="rptUserDetails_ItemDataBound">
                                    <HeaderTemplate>
                                        <table class="repeaterTable">
                                            <thead>
                                                <tr>
                                                    <th style="display: none">
                                                        Reseller Name
                                                    </th>
                                                    <th>
                                                       Email
                                                    </th>
                                                    <th>
                                                        Contact Number
                                                    </th>
                                                   
                                                    
                                             
                                                    <th>
                                                       Enabled
                                                    </th>
                                            
                                                   <th>Discount</th>
                                                   <th> Created On</th>
                                                   <th>Reseller Id</th>
                                                   <th>Login Name</th>
                                                   <th>Password</th>
                                                   <th>Country</th>
                                                   <th></th>
                                                </tr>
                                            </thead>
                                    </HeaderTemplate>
                                    <ItemTemplate>
                                        <tbody>
                                            <tr class="repeaterItem">
                                                <td style="display: none">
                                                    <asp:Label ID="lblname" runat="server" Text='<%#Eval("RESELLER_NAME") %>'></asp:Label>
                                                </td>
                                                <td>
                                                    <asp:Label ID="lblemail" runat="server" Text='<%#Eval("EMAIL") %>'></asp:Label>
                                                </td>
                                                <td>
                                                    <asp:Label ID="lblnumber" runat="server" Text='<%# Eval("CONTACT_NUMBER") %>'></asp:Label>
                                                </td>
                                                <td>
                                                    <asp:Label ID="lblenable" runat="server" Text='<%# Eval("IS_ENABLE") %>'></asp:Label>
                                                </td>
                                                
                                                 <td>
                                                    <asp:Label ID="lbldiscount" runat="server" Text='<%# Eval("DISCOUNT") %>'></asp:Label>
                                                </td>
                                                 <td>
                                                    <asp:Label ID="lbldate" runat="server" Text='<%# Eval("CREATED_ON") %>'></asp:Label>
                                                </td>
                                                 <td>
                                                    <asp:Label ID="lblresellerid" runat="server" Text='<%# Eval("RESELLER_ID") %>'></asp:Label>
                                                </td>
                                                 <td>
                                                    <asp:Label ID="lbllogin" runat="server" Text='<%# Eval("LOGIN_NAME") %>'></asp:Label>
                                                </td>
                                                 <td>
                                                    <asp:Label ID="lblpassword" runat="server" Text='<%# Eval("PASSWORD") %>'></asp:Label>
                                                </td>
                                                  <td>
                                                    <asp:Label ID="lbcountry" runat="server" Text='<%# Eval("COUNTRY") %>'></asp:Label>
                                                </td>
                                                <td>
                                                    <asp:LinkButton ID="lnkEdit" runat="server" Text="edit" CssClass="repeaterLink" CommandName="Edit"></asp:LinkButton>
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </ItemTemplate>
                                    <AlternatingItemTemplate>
                                        <tbody>
                                            <tr class="repeaterAlternatingItem">
                                                <td style="display: none">
                                                    <asp:Label ID="lblname" runat="server" Text='<%#Eval("RESELLER_NAME") %>'></asp:Label>
                                                </td>
                                                <td>
                                                    <asp:Label ID="lblemail" runat="server" Text='<%#Eval("EMAIL") %>'></asp:Label>
                                                </td>
                                                <td>
                                                    <asp:Label ID="lblnumber" runat="server" Text='<%# Eval("CONTACT_NUMBER") %>'></asp:Label>
                                                </td>
                                                <td>
                                                    <asp:Label ID="lblenable" runat="server" Text='<%# Eval("IS_ENABLE") %>'></asp:Label>
                                                </td>
                                                
                                                 <td>
                                                    <asp:Label ID="lbldiscount" runat="server" Text='<%# Eval("DISCOUNT") %>'></asp:Label>
                                                </td>
                                                 <td>
                                                    <asp:Label ID="lbldate" runat="server" Text='<%# Eval("CREATED_ON") %>'></asp:Label>
                                                </td>
                                                 <td>
                                                    <asp:Label ID="lblresellerid" runat="server" Text='<%# Eval("RESELLER_ID") %>'></asp:Label>
                                                </td>
                                                 <td>
                                                    <asp:Label ID="lbllogin" runat="server" Text='<%# Eval("LOGIN_NAME") %>'></asp:Label>
                                                </td>
                                                 <td>
                                                    <asp:Label ID="lblpassword" runat="server" Text='<%# Eval("PASSWORD") %>'></asp:Label>
                                                </td>
                                                  <td>
                                                    <asp:Label ID="lblcountry" runat="server" Text='<%# Eval("COUNTRY") %>'></asp:Label>
                                                </td>
                                                <td>
                                                    <asp:LinkButton ID="lnkEdit" runat="server" Text="edit" CssClass="repeaterLink" CommandName="Edit"></asp:LinkButton>
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </AlternatingItemTemplate>
                                    <FooterTemplate>
                                        </table>
                                    </FooterTemplate>
                                </asp:Repeater>
                                <div>
                                </div>
                                <div style="clear: both">
                                    <asp:HiddenField ID="hidDocCatIdForEdit" runat="server" />
                                    <asp:HiddenField ID="hidDetailsFormMode" runat="server" />
                                </div>
                            </asp:Panel>
                        </section>
                        <section>
                            <asp:Panel ID="pnlMobileUserForm" Visible="false" runat="server">
                                <div class="g11">
                                    <div id="formDiv">
                                        <fieldset>
                                            <label>
                                                Details</label>
                                            <section>
                                                <label for="txtname">
                                                    Reseller Name</label>
                                                <div>
                                                    <asp:TextBox ID="txtname" runat="server"
                                                        Width="50%"></asp:TextBox>
                                                </div>
                                            </section>
                                            <section>
                                                <label for="txtemail">
                                                   Email</label>
                                                <div>
                                                    <asp:TextBox ID="txtemail" runat="server" Width="50%" 
                                                        ></asp:TextBox>
                                                </div>
                                            </section>
                                            <section>
                                                <label for="txtnumber">
                                                   Contact Number</label>
                                                <div>
                                                    <asp:TextBox ID="txtnumber" runat="server" Width="50%"></asp:TextBox>
                                                </div>
                                            </section>


                                              <section>
                                                <label for="chkIsActive">
                                                    Is Active</label>
                                                <div>
                                                    <asp:CheckBox ID="chkIsActive" runat="server" Checked="true" />
                                                </div>
                                            </section>


                                        

                                            <section>
                                                <label for="txtdiscount">
                                                   Discount</label>
                                                <div>
                                                    <asp:TextBox ID="txtdiscount" runat="server" Width="50%"></asp:TextBox>
                                                </div>
                                            </section>

                                            <section>
                                                <label for="txtdate">
                                                Created On</label>
                                                <div>
                                                    <asp:TextBox ID="txtdate" runat="server" Width="50%"></asp:TextBox>
                                                </div>
                                            </section>

                                            <section>
                                                <label for="txtresellerid">
                                                Reseller Id</label>
                                                <div>
                                                    <asp:TextBox ID="txtresellerid" runat="server" Width="50%"></asp:TextBox>
                                                </div>
                                            </section>

                                            <section>
                                                <label for="txtlogin">
                                                Login Name</label>
                                                <div>
                                                    <asp:TextBox ID="txtlogin" runat="server" Width="50%"></asp:TextBox>
                                                </div>
                                            </section>

                                            <section>
                                                <label for="txtpassword">
                                                Password</label>
                                                <div>
                                                    <asp:TextBox ID="txtpassword" TextMode="Password" runat="server" Width="50%"></asp:TextBox>
                                                </div>
                                            </section>

 <section>
                                                <label for="txtcountry">
                                                Country</label>
                                                <div>
                                                <asp:DropDownList ID="ddlcountry" runat="server"></asp:DropDownList>
                                                </div>
                                            </section>

                                            
                                          
                                        </fieldset>
                                        <section id="buttons">
                                            <asp:Button ID="btnSave" runat="server" Text="Save" CssClass="aspButton" OnClick="btnSave_Click" />
                                            <asp:Button ID="btnCancel" runat="server" Text="Cancel" CssClass="aspButton" OnClick="btnCancel_Click" />
                                        </section>
                                    </div>
                                </div>
                            </asp:Panel>
                        </section>
                        <div>
                            <asp:HiddenField ID="hdi" runat="server" />
                            <asp:HiddenField ID="hidPasswordEntered" runat="server" />
                        </div>
                    </ContentTemplate>
                </asp:UpdatePanel>
            </div>
        </section>
        <div>
            <asp:HiddenField ID="hfs" runat="server" />
        </div>
    </div>
    <script type="text/javascript">
        Sys.Application.add_init(application_init);
        function application_init() {
            //Sys.Debug.trace("Application.Init");
            var prm = Sys.WebForms.PageRequestManager.getInstance();
            prm.add_initializeRequest(prm_initializeRequest);
            prm.add_endRequest(prm_endRequest);
        }
        function prm_initializeRequest() {
            $("input").uniform();
        }
        function prm_endRequest() {
            $("input").uniform();
        }
    </script>
</asp:Content>
